.page-footer {
    position: relative;
    padding-bottom: 2rem;
    background-color: var(--White, #FFF);

    &--grey {
        background-color: var(--Light-Grey, #F5F5F5);
    }

    @include breakpointMF(tablet) {
        padding-bottom: 1.6rem;
    }

    &__map-section {
        margin-bottom: 6rem;
    }

    &__body {
        position: relative;
        overflow: hidden;

        padding: 2.8rem 2rem;

        color: var(--White, #fff);
        background: var(--Dark-Blue, #101038);

        @extend ._border-20;

        @include breakpointMF(tablet) {
            padding: 0;
        }

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;

            display: block;
            width: 40%;
            aspect-ratio: 1.06 / 1;


            background-image: url("data:image/svg+xml, %3Csvg%20width%3D%22426%22%20height%3D%22342%22%20viewBox%3D%220%200%20426%20342%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M-14.5239%20335.786L30.149%20281.276L-22.6145%20217.843L47.1868%20132.671L99.9503%20196.104L139.039%20148.408L86.0217%2085.2846L155.823%200.11295L208.587%2063.5462L243.36%2021.1152L309.463%2078.3955L265.298%20132.286L314.847%20192.049L350.382%20148.689L416.795%20206.223L371.869%20261.043L425.253%20324.985L355.451%20410.156L302.067%20346.215L262.979%20393.911L316.362%20457.853L247.069%20542.405L193.685%20478.463L159.165%20520.584L92.7516%20463.05L136.409%20409.779L86.8606%20350.016L51.833%20392.756L-14.2701%20335.476L-14.5239%20335.786ZM206.521%20324.861L245.61%20277.165L196.061%20217.402L156.972%20265.098L206.521%20324.861Z%22%20fill%3D%22url(%23paint0_linear_3001_1428)%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_3001_1428%22%20x1%3D%22395.608%22%20y1%3D%22353.123%22%20x2%3D%2220.0718%22%20y2%3D%22165.633%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20offset%3D%220.348984%22%20stop-color%3D%22%236C6CE2%22%20stop-opacity%3D%220.14%22%2F%3E%0A%3Cstop%20offset%3D%220.989096%22%20stop-color%3D%22%234C4C9C%22%20stop-opacity%3D%220.81%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;

            content: "";

            @include breakpointMF(tablet) {
                width: 44rem;
            }
        }
    }

    &__main {
        padding-bottom: 4.2rem;

        @include breakpointMF(tablet) {
            padding-top: calc(var(--gap, 0.4rem) * 10);
            padding-bottom: calc(var(--gap, 0.4rem) * 13);
        }
    }

    &__bottom {
        padding-top: 2.8rem;

        border-top: 1px solid rgba(255, 255, 255, 0.15);

        @include breakpointMF(tablet) {
            padding-top: unset;
        }
    }

    &__logo-wrapper {
        @include breakpointMF(tablet) {
            padding-left: calc(var(--gap, 0.4rem) * 10);
        }
    }

    &__copyright {
        padding-left: 40%;

        @include breakpointMF(tablet) {
            align-self: center;
            padding-left: calc(var(--gap, 0.4rem) * 10);
        }
    }

    &__form-wrapper {
        @include breakpointMF(tablet) {
            padding-right: calc(var(--gap, 0.4rem) * 10);
        }
    }

    &__bottom-info {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding-left: 40%;

        @include breakpointMF(tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: calc(var(--gap, 0.4rem) * 8);
            padding-right: calc(var(--gap, 0.4rem) * 10);
            padding-left: unset;
        }
    }

    &__policy {
        @include hoverActive() {
            opacity: 1;
        }
    }

    &__dev {
        @include breakpointMF(tablet) {
            padding: calc(var(--gap, 0.4rem) * 5) 0;
        }
    }

    &__logo {
        margin-bottom: 2.8rem;

        @include breakpointMF(tablet) {
            margin-bottom: 3.2rem;
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    &__menus {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin-top: 4.2rem;

        @include breakpointMF(tablet) {
            flex-direction: row;
            gap: 14.2rem;
            margin-top: 7rem;
        }
    }

    &__menu {
        &:last-child {
            @include breakpointMF(tablet) {
                padding-left: 2rem;
            }
        }
    }

    &.page-footer--no-map {
        .page-footer__map-section {
            display: none;
        }
    }
}
