<div
    class="breadcrumbs {{#if breadcrumbsWhiteClass}}breadcrumbs--white{{/if}}{{#if mainPage}}breadcrumbs--hidden{{/if}}">
    <div class="breadcrumbs__site-container">
        <ul class="breadcrumbs__list">
            {{#each breadcrumbsList}}
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">
                    {{this}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
