<div class="filters {{#if filterClass}}home__filter{{/if}}">
    <div class="filters__site-container">
        <form action="/" class="filters__form" method="GET">
            <div class="filters__row">
                <div class="filters__fields">
                    <div class="filters__field filters__field--select">
                        <div class="select">
                            <div class="select__label range-slider__label">
                                Проект
                            </div>
                            <select name="project" class="js-custom-select">
                                <option value="Проект">Проект</option>
                                <option value="ЖК «Южный парк»">ЖК «Южный парк»</option>
                                <option value="ЖК «Станция спрортивная»">ЖК «Станция спрортивная»</option>
                                <option value="ЖК «Времена года»">ЖК «Времена года»</option>
                                <option value="ЖК «Столичный»">ЖК «Столичный»</option>
                                <option value="ЖК «Батталовский»">ЖК «Батталовский»</option>
                                <option value="ЖК «Сказочный лес»">ЖК «Сказочный лес»</option>
                                <option value="ЖК «Палитра»">ЖК «Палитра»</option>
                                <option value="ЖК «Отражение»">ЖК «Отражение»</option>
                            </select>
                        </div>
                    </div>
                    <div class="filters__field filters__field--flex-g0">
                        <div class="radios">
                            <div class="radios__label range-slider__label">
                                Количество комнат
                            </div>

                            <div class="radios__items">
                                <label class="radios__item radios__item--wider">
                                    <input type="checkbox" name="rooms" value="studios" class="radios__item-input">
                                    <span class="radios__item-text">
                                        Студия
                                    </span>
                                </label>
                                <label class="radios__item">
                                    <input type="checkbox" name="rooms" value="1" class="radios__item-input">
                                    <span class="radios__item-text">
                                        1
                                    </span>
                                </label>
                                <label class="radios__item">
                                    <input type="checkbox" name="rooms" value="2" class="radios__item-input">
                                    <span class="radios__item-text">
                                        2
                                    </span>
                                </label>
                                <label class="radios__item">
                                    <input type="checkbox" name="rooms" value="3" class="radios__item-input">
                                    <span class="radios__item-text">
                                        3
                                    </span>
                                </label>
                                <label class="radios__item">
                                    <input type="checkbox" name="rooms" value="4" class="radios__item-input">
                                    <span class="radios__item-text">
                                        4+
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__field">
                        <div class="range-slider js-range-slider-double" data-min="1200000" data-max="6000000"
                            data-step="100000">
                            <div class="range-slider__label">
                                Стоимость, руб
                            </div>
                            <div class="range-slider__inputs">
                                <div class="range-slider__input-wrapper">
                                    <input type="tel" class="range-slider__input js-numeric-input-decimals">
                                </div>
                                <div class="range-slider__inputs-divider">

                                </div>
                                <div class="range-slider__input-wrapper">
                                    <input type="tel" class="range-slider__input js-numeric-input-decimals">
                                </div>
                            </div>

                            <div class="range-slider__element">

                            </div>
                        </div>
                    </div>
                    <div class="filters__field filters__field--flex-g0">
                        <div class="range-slider js-range-slider-double" data-min="20" data-max="200" data-step="1">
                            <div class="range-slider__label">
                                Площадь, м
                            </div>
                            <div class="range-slider__inputs">
                                <div class="range-slider__input-wrapper range-slider__input-wrapper--small">
                                    <input type="tel" class="range-slider__input js-numeric-input">
                                </div>
                                <div class="range-slider__inputs-divider">

                                </div>
                                <div class="range-slider__input-wrapper range-slider__input-wrapper--small">
                                    <input type="tel" class="range-slider__input js-numeric-input">
                                </div>
                            </div>

                            <div class="range-slider__element">

                            </div>
                        </div>
                    </div>
                </div>
                <button class="main-btn main-btn--red filters__submit">
                    Смотреть 1533 квартиры
                </button>
            </div>
            <div class="filters__row filters__row--extended">
                <div class="filters__fields filters__fields--short">
                    <div class="filters__field">
                        <div class="range-slider js-range-slider-double" data-min="1" data-max="20" data-step="1">
                            <div class="range-slider__label">
                                Этаж
                            </div>
                            <div class="range-slider__inputs">
                                <div class="range-slider__input-wrapper range-slider__input-wrapper--small">
                                    <input type="tel" class="range-slider__input js-numeric-input">
                                </div>
                                <div class="range-slider__inputs-divider">

                                </div>
                                <div class="range-slider__input-wrapper range-slider__input-wrapper--small">
                                    <input type="tel" class="range-slider__input js-numeric-input">
                                </div>
                            </div>

                            <div class="range-slider__element">

                            </div>
                        </div>
                    </div>
                    <div class="filters__field">
                        <div class="select">
                            <div class="select__label">
                                Срок сдачи
                            </div>
                            <select name="project" class="js-custom-select">
                                <option value="1 кв 2023 г»">1 кв 2023 г</option>
                                <option value="2 кв 2023 г">2 кв 2023 г</option>
                            </select>
                        </div>

                    </div>

                    <div class="filters__field">
                        <div class="select">
                            <div class="select__label">
                                Позиция
                            </div>
                            <select name="position" class="js-custom-select">
                                <option value="1»">Позиция 1 »</option>
                                <option value="2»">Позиция 2</option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="filters__checkboxes">
                    <label class="filters__checkbox">
                        <input type="checkbox" class="filters__checkbox-input">
                        <span class="filters__checkbox-mark">

                        </span>
                        С отделкой
                    </label>
                    <label class="filters__checkbox">
                        <input type="checkbox" class="filters__checkbox-input">
                        <span class="filters__checkbox-mark">

                        </span>
                        Акция
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>
