<footer class="page-footer">
    <div class="page-footer__site-container">
        <div class="page-footer__map">

        </div>

        <div class="page-footer__body">
            <div class="page-footer__main grid-block grid-block--increase">
                <div class="page-footer__logo-wrapper grid-block__third-part">
                    <a href="/" class="page-footer__logo logo">
                        <svg class="icon">
                            <use xlink:href="#logo-w"></use>
                        </svg>
                    </a>

                    <ul class="page-footer__soc">
                        <li>
                            <a href="#" class="round-btn round-btn--white">
                                <svg class="icon-fill">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="round-btn round-btn--white">
                                <svg class="icon-fill">
                                    <use xlink:href="#tg"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="round-btn round-btn--white">
                                <svg class="icon-fill">
                                    <use xlink:href="#ok"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__form-wrapper grid-block__big-part">
                    <form action="" class="page-footer__form form-footer" data-need-validation>
                        <h3 class="form-footer__title form-footer__title--h3-text">
                            Остались вопросы?
                        </h3>
                        <div class="form-footer__row">
                            <div class="form-footer__inputs">
                                <div class="form-footer__input input-wrapper">
                                    <input class="input" type="text" name="feedback-name" id="feedback-name"
                                        placeholder="Имя" required="" autocomplete="off" minlength="3"
                                        data-parsley-reqtext="" data-parsley-trigger="input"
                                        data-parsley-validate-if-empty>
                                </div>
                                <div class="form-footer__input input-wrapper">
                                    <input class="input js-phone-input" type="tel" name="feedback-name"
                                        id="feedback-name" placeholder="Телефон" required="" autocomplete="off"
                                        data-parsley-phone="" data-parsley-trigger="input"
                                        data-parsley-validate-if-empty>
                                </div>
                            </div>
                            <button class="form-footer__submit main-btn main-btn--white"
                                type="submit">Отправить</button>
                        </div>
                        <p class="form-footer__agreement form-footer__agreement--text-14">
                            Нажимая "Оставить заявку", вы соглашаетесь с <a href="#" target="_blank">
                                политикой конфиденциальности
                            </a>
                        </p>
                    </form>

                    <div class="page-footer__menus">
                        <div class="page-footer__menu acco-menu">
                            <div class="acco-menu__body">
                                <input class="visually-hidden" hidden type="checkbox" name="acco-menu-1"
                                    id="acco-menu-1">
                                <label class="acco-menu__label" for="acco-menu-1">
                                    <span>Покупателям</span>
                                    <svg class="icon">
                                        <use xlink:href="#drop-arrow"></use>
                                    </svg>
                                </label>
                                <span class="acco-menu__title opacity-06">Покупателям</span>

                                <ul class="acco-menu__list">
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Проекты
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Квартиры
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Акции и скидки
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="page-footer__menu acco-menu">
                            <div class="acco-menu__body">
                                <input class="visually-hidden" hidden type="checkbox" name="acco-menu-2"
                                    id="acco-menu-2">
                                <label class="acco-menu__label" for="acco-menu-2">
                                    <span>Способы покупки</span>
                                    <svg class="icon">
                                        <use xlink:href="#drop-arrow"></use>
                                    </svg>
                                </label>
                                <span class="acco-menu__title opacity-06">Способы покупки</span>

                                <ul class="acco-menu__list">
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Оформление сделки онлайн
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Ипотека
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Рассрочка
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Материнский капитал
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="page-footer__menu acco-menu">
                            <div class="acco-menu__body">
                                <input class="visually-hidden" hidden type="checkbox" name="acco-menu-3"
                                    id="acco-menu-3">
                                <label class="acco-menu__label" for="acco-menu-3">
                                    <span>О нас</span>
                                    <svg class="icon">
                                        <use xlink:href="#drop-arrow"></use>
                                    </svg>
                                </label>
                                <span class="acco-menu__title opacity-06">О нас</span>

                                <ul class="acco-menu__list">
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            О компании
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Новости
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Офисы продаж
                                        </a>
                                    </li>
                                    <li class="acco-menu__item">
                                        <a href="#" class="acco-menu__link">
                                            Оплата
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-footer__bottom grid-block grid-block--increase">
                <div class="page-footer__copyright page-footer__copyright--text-14 opacity-06 grid-block__third-part">
                    <p class="page-footer__copyright-text page-footer__copyright-text--text-14 opacity-06">
                        © Суварстроит 2015 — 2024
                    </p>
                </div>

                <div class="page-footer__bottom-info grid-block__big-part">
                    <a href="#" class="page-footer__policy page-footer__policy--text-14 opacity-06">
                        Политика конфиденциальности
                    </a>
                    <a href="#" class="page-footer__dev dev">
                        <span class="dev__text dev__text--text-14 opacity-06">Разработка сайта</span>
                        <svg class="icon">
                            <use xlink:href="#dev"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
