<header
    class="page-header fixed-block {{#if headerBlurClass}}page-header--blur{{/if}} {{#if headerMainClass}}page-header--main{{else}}page-header--secondary{{/if}}">
    <div class="page-header__site-container page-header__main">
        <div class="page-header__nav">
            <a href="/" class="page-header__logo logo">
                <svg class="icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>

            <div class="page-header__menu">
                <ul class="menu">
                    <li class="menu__item menu__item--dropdown">
                        <a href="" class="menu__link links js-dropdown-menu-link">
                            Квартиры
                        </a>

                        <div class="menu__dropdown dropdown-menu">
                            <div class="dropdown-menu__body">
                                <div class="dropdown-menu__main">
                                    <div class="dropdown-menu__menus">
                                        <ul class="dropdown-menu__menu-list">
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-link links">
                                                    Студии
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-link links">
                                                    1-комнатные
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-link links">
                                                    2-комнатные
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-link links">
                                                    3-комнатные
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-link links">
                                                    4-комнатные
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="dropdown-menu__menu-list dropdown-menu__menu-list--grid">
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Южный парк
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Лаишевский р-н
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Батталовский
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Приволжский р-н
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Станция спрортивная
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Приволжский р-н
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Сказочный лес
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Приволжский р-н
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Времена года
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Приволжский р-н
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Палитра
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Приволжский р-н
                                                    </p>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Столичный
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Ново-Савиновский р-н
                                                    </p>
                                                </a>
                                            </li>

                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-phone phone">
                                                    <span class="phone__link links">
                                                        Отражение
                                                    </span>
                                                    <p class="phone__text phone__text--text-14">
                                                        Приволжский р-н
                                                    </p>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="dropdown-menu__menu-list dropdown-menu__menu-list--low-gap">
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-link tag-link">
                                                    С отделкой
                                                </a>
                                            </li>
                                            <li class="dropdown-menu__menu-item">
                                                <a href="#" class="dropdown-menu__menu-link tag-link">
                                                    Двухуровневые
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-menu__poster">
                                        <div class="dropdown-menu__image-block image-block">
                                            <picture>
                                                <source type="image/webp" srcset="./img/posters/image.webp"
                                                    alt="posters image" />
                                                <img class="lazy" src="./img/posters/image.jpg" alt="posters image" />
                                            </picture>

                                            <p class="dropdown-menu__text">
                                                Ипотека без<br>
                                                первоначального<br>
                                                взноса<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-menu__footer">
                                    <a href="tel:+78005515813" class="phone-link links">
                                        +7 (800) 551-58-13
                                    </a>
                                    <ul class="socials-links">
                                        <li>
                                            <a href="#" class="socials-link phone-link">
                                                Youtube
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="socials-link phone-link">
                                                Вконтакте
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="socials-link phone-link">
                                                Telegram
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="mailto:info@suvarstroit.ru" class="phone-link links">
                                        info@suvarstroit.ru
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link links">
                            Паркинг и кладовые
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link links">
                            Коммерция
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link links">
                            Ипотека
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link links">
                            Контакты
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link menu__link--icon">
                            <svg class="icon">
                                <use xlink:href="#ellipsis"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

                <div class="phone">
                    <a href="tel:8-800-444-14-94" class="phone__link links">
                        8-800-444-14-94
                    </a>
                    <p class="phone__text phone__text--text-14">
                        ежедневно с 9:00 до 20:00
                    </p>
                </div>
            </div>

            <div class="page-header__controls">
                <ul class="controls">
                    <li class="controls__item">
                        <a data-favorite-count="3" href="#" class="controls__btn round-btn round-btn--active">
                            <svg class="icon js-flying-target">
                                <use xlink:href="#favorite"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="controls__item hide-on-mobile">
                        <a href="#" class="controls__btn round-btn">
                            <svg class="icon">
                                <use xlink:href="#account"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="controls__item show-on-mobile">
                        <a href="#mobile-menu-modal" class="controls__btn round-btn js-open-modal">
                            <svg class="icon">
                                <use xlink:href="#menu"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-header__site-container page-header__second">
        <div class="page-header__nav page-header__nav--white">
            <div class="page-header__project-name navbar__button  navbar__button--active">
                <span>
                    Южный парк
                </span>
            </div>

            <div class="page-header__mobile-menu-dropdown">
                Южный парк
            </div>

            <div class="page-header__secondary-menu">
                <ul class="menu menu--lower-gap">
                    <li class="menu__item">
                        <a href="#section-about" class="menu__link links">
                            О проекте
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#section-general-plan" class="menu__link links">
                            Генплан
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#section-advantages" class="menu__link links">
                            Преимущества
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#section-plans" class="menu__link links">
                            Планировки
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#section-programs" class="menu__link links">
                            Ипотека
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#section-progress" class="menu__link links">
                            Ход строительства
                        </a>
                    </li>
                </ul>


                <ul class="menu menu--lower-gap">
                    <li class="menu__item">
                        <a href="./commercial.html" class="menu__link links">
                            Коммерция
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="./storerooms.html" class="menu__link links">
                            Кладовые
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="./parking.html" class="menu__link links">
                            Паркинг
                        </a>
                    </li>
                </ul>
            </div>

            <a href="#" class="page-header__secondary-link main-btn main-btn--red main-btn--smaller">
                <span class="hide-on-mobile">
                    Выбрать квартиру
                </span>
                <span class="show-on-mobile">
                    Квартиры
                </span>
            </a>
        </div>
    </div>
</header>
