<div class="home-slider js-home-swiper-wrapper {{#if homeSliderSmallClass}}home-slider--small{{/if}}">
    <div class="home-slider__image-swiper-wrapper">
        <div class="home-slider__image-swiper swiper">
            <ul class="home-slider__image-swiper-wrapper swiper-wrapper">
                <li class="home-slider__swiper-slide swiper-slide image-block">
                    <picture>
                        <source type="image/webp" srcset="./img/home/img-1H.webp" alt="home image" />
                        <img class="lazy" src="./img/home/img-1H.png" alt="home image" />
                    </picture>
                </li>
                <li class="home-slider__swiper-slide swiper-slide image-block">
                    <picture>
                        <source type="image/webp" srcset="./img/home/img-2H.webp" alt="home image" />
                        <img class="lazy" src="./img/home/img-2H.png" alt="home image" />
                    </picture>
                </li>
            </ul>

            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="home-slider__body js-home-slider-body">
        <div class="cursor home-slider__swiper-btn">
            <svg class="icon">
                <use xlink:href="#swiper-arrow"></use>
            </svg>
        </div>

        <div class="home-slider__info-swiper swiper">
            <ul class="home-slider__info-swiper-wrapper swiper-wrapper">
                <li class="home-slider__info-swiper-slide swiper-slide">
                    <div class="home-slider__info-heading">
                        <h1 class="home-slider__info-title home-slider__info-title--text-h2">
                            Южный парк
                        </h1>
                        <p class="home-slider__text">
                            Жилой комплекс «Южный парк» — это комплекс жилых домов внутри большой лесопарковой
                            территории
                        </p>
                    </div>

                    <ul class="home-slider__tabs">
                        <li class="home-slider__tab tab">
                            <svg class="icon">
                                <use xlink:href="#key"></use>
                            </svg>
                            <span class="tab__text tab__text--text-14">Комфорт</span>
                        </li>
                        <li class="home-slider__tab tab tab--icon">
                            <svg class="icon">
                                <use xlink:href="#key"></use>
                            </svg>
                            <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                        </li>
                    </ul>

                    <a href="#" class="home-slider__btn main-btn main-btn--red">
                        Подробнее
                    </a>

                    <a class="home-slider__dom-link dom-link" href="#" target="_blank"></a>
                </li>
                <li class="home-slider__info-swiper-slide swiper-slide">
                    <div class="home-slider__info-heading">
                        <h1 class="home-slider__info-title home-slider__info-title--text-h2">
                            Станция спрортивная
                        </h1>
                        <p class="home-slider__text">
                            Комплекс внутри большой лесопарковой зоны
                        </p>
                    </div>

                    <ul class="home-slider__tabs">
                        <li class="home-slider__tab tab">
                            <svg class="icon">
                                <use xlink:href="#key"></use>
                            </svg>
                            <span class="tab__text tab__text--text-14">Комфорт</span>
                        </li>
                        <li class="home-slider__tab tab tab--icon">
                            <svg class="icon">
                                <use xlink:href="#key"></use>
                            </svg>
                            <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                        </li>
                        <li class="home-slider__tab tab tab--icon">
                            <svg class="icon">
                                <use xlink:href="#key"></use>
                            </svg>
                            <span class="tab__text tab__text--text-14">Паркинг</span>
                        </li>
                        <li class="home-slider__tab tab">
                            <svg class="icon">
                                <use xlink:href="#key"></use>
                            </svg>
                            <span class="tab__text tab__text--text-14">Кладовые</span>
                        </li>
                    </ul>

                    <a href="#" class="home-slider__btn main-btn main-btn--red">
                        Подробнее
                    </a>

                    <a class="home-slider__dom-link dom-link" href="#" target="_blank"></a>
                </li>
            </ul>



            <div class="home-slider__pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
