<div class="mobile-menu js-modal" id="mobile-menu-modal">
    <div class="mobile-menu__body">
        <div class="mobile-menu__header">
            <a href="/" class="mobile-menu__logo logo">
                <svg class="icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>

            <div class="mobile-menu__close">
                <button class="controls__btn round-btn js-close-modal">
                    <svg class="icon">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="mobile-menu__menus">
            <ul class="mobile-menu__menu">
                <li>
                    <a href="#" class="mobile-menu__menu-link mobile-menu__menu-link--h6-text">
                        Квартиры
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile-menu__menu-link mobile-menu__menu-link--h6-text">
                        Паркинг
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile-menu__menu-link mobile-menu__menu-link--h6-text">
                        Коммерция
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile-menu__menu-link mobile-menu__menu-link--h6-text">
                        Ипотека
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile-menu__menu-link mobile-menu__menu-link--h6-text">
                        Контакты
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile-menu__menu-link mobile-menu__menu-link--h6-text">
                        Еще
                    </a>
                </li>
            </ul>
        </div>

        <div class="mobile-menu__footer">
            <div class="mobile-menu__phone phone">
                <a href="tel:8-800-444-14-94" class="phone__link links links--h6-text">
                    8-800-444-14-94
                </a>
                <p class="phone__text phone__text--text-14">
                    ежедневно с 9:00 до 20:00
                </p>
            </div>

            <a href="mailto:info@suvarstroit.ru" class="mobile-menu__phone-link phone-link links links--h6-text">
                info@suvarstroit.ru
            </a>

            <ul class="mobile-menu__socials-links socials-links">
                <li>
                    <a href="#" class="socials-link phone-link">
                        Youtube
                    </a>
                </li>
                <li>
                    <a href="#" class="socials-link phone-link">
                        Вконтакте
                    </a>
                </li>
                <li>
                    <a href="#" class="socials-link phone-link">
                        Telegram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
