<div class="mobile-navigation {{#if mobileNavigation}}mobile-navigation--is-open{{/if}}">
    <ul class="mobile-navigation__list">
        <li class="mobile-navigation__item">
            <a href="#" class="mobile-navigation__link mobile-navigation__link--active">
                <svg class="icon">
                    <use xlink:href="#city"></use>
                </svg>

                <span>
                    Проекты
                </span>
            </a>
        </li>
        <li class="mobile-navigation__item">
            <a href="#" class="mobile-navigation__link">
                <svg class="icon">
                    <use xlink:href="#flats"></use>
                </svg>

                <span>
                    Квартиры
                </span>
            </a>
        </li>
        <li class="mobile-navigation__item">
            <a href="#" class="mobile-navigation__link">
                <svg class="icon">
                    <use xlink:href="#heart"></use>
                </svg>

                <span>
                    Избранное
                </span>
            </a>
        </li>
        <li class="mobile-navigation__item">
            <a href="#" class="mobile-navigation__link">
                <svg class="icon">
                    <use xlink:href="#mort"></use>
                </svg>

                <span>
                    Ипотека
                </span>
            </a>
        </li>
    </ul>
</div>
