<a href="#" id="" class="project-card">
    <div class="project-card__image js-card-swiper-wrapper">
        <div class="project-card__swiper swiper">
            <ul class="project-card__swiper-wrapper swiper-wrapper">
                <li class="project-card__swiper-slide swiper-slide image-block">
                    <picture>
                        <source type="image/webp" srcset="./img/projects/img-3.webp" alt="project image" />
                        <img class="lazy" src="./img/projects/img-3.jpg" alt="project image" />
                    </picture>
                </li>
                <li class="project-card__swiper-slide swiper-slide image-block">
                    <picture>
                        <source type="image/webp" srcset="./img/projects/img-2.webp" alt="project image" />
                        <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                    </picture>
                </li>
                <li class="project-card__swiper-slide swiper-slide image-block">
                    <picture>
                        <source type="image/webp" srcset="./img/projects/img-1.webp" alt="project image" />
                        <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                    </picture>
                </li>
                <li class="project-card__swiper-slide swiper-slide image-block">
                    <picture>
                        <source type="image/webp" srcset="./img/projects/img-4.webp" alt="project image" />
                        <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                    </picture>
                </li>
            </ul>

            <div class="swiper-pagination"></div>
        </div>

        <div class="project-card__transparent-thumbs">
            <div class="transparent-thumbs swiper">
                <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                </ul>
            </div>
        </div>
    </div>

    <div class="project-card__info">
        <div class="project-card__title">
            <p class="project-card__name project-card__name--text-32">
                Станция Спортивная
            </p>

            <p class="project-card__price">
                от 4,9 млн ₽
            </p>
        </div>
        <p class="project-card__address">
            Приволжский р-н, ул. Рауиса Гареева
        </p>
    </div>
</a>
