<a id="" href="#" target="_blank" class="searched-card {{#if cardClass}}searched-card--new-price{{/if}}">
    <div class="searched-card__variant searched-card__variant--tile">
        <div class="searched-card__header">
            <div class="searched-card__tabs">
                <div class="searched-card__tab tab tab--light-blue tab--small">
                    <span class="tab__text">
                        Комфорт класс
                    </span>
                </div>
                <div class="searched-card__dropdown-wrapper">
                    <label
                        class="searched-card__dropdown-button tab tab--small tab--outlined tab--square js-card-dropdown-button">
                        <span class="tab__text">
                            +2
                        </span>
                    </label>

                    <ul class="searched-card__dropdown">
                        <li class="searched-card__dropdown-item">
                            <div class="searched-card__tab tab tab--small tab--white">
                                <span class="tab__text">
                                    Улучшенная отделка
                                </span>
                            </div>
                        </li>
                        <li class="searched-card__dropdown-item">
                            <div class="searched-card__tab tab tab--small tab--white">
                                <span class="tab__text">
                                    Паркинг
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="searched-card__body">
            <div class="searched-card__images js-card-swiper-wrapper">
                <div class="searched-card__swiper project-card__swiper swiper">
                    <ul class="project-card__swiper-wrapper swiper-wrapper">
                        <li class="project-card__swiper-slide swiper-slide image-block">
                            <picture>
                                <source type="image/webp" srcset="./img/searched-card/img-2.webp" alt="Alt" />
                                <img class="lazy" src="./img/searched-card/img-2.png" alt="Alt" />
                            </picture>
                        </li>
                        <li class="project-card__swiper-slide swiper-slide image-block">
                            <picture>
                                <source type="image/webp" srcset="./img/searched-card/img-3.webp" alt="Alt" />
                                <img class="lazy" src="./img/searched-card/img-3.png" alt="Alt" />
                            </picture>
                        </li>
                    </ul>

                    <div class="swiper-pagination"></div>
                </div>

                <div class="project-card__transparent-thumbs">
                    <div class="transparent-thumbs swiper">
                        <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="searched-card__info">
                <p class="searched-card__title">
                    <span class="searched-card__name-value">3 – комнатная</span> <span
                        class="searched-card__area-value">75,5 м2</span>
                </p>

                <ul class="searched-card__list">
                    <li>
                        <span class="searched-card__key">
                            Проект
                        </span>
                        <p class="searched-card__value searched-card__station-value">
                            Станция Спортивная
                        </p>
                    </li>
                    <li>
                        <span class="searched-card__key">
                            Расположение
                        </span>
                        <p class="searched-card__value searched-card__location-value">
                            2 очередь, Секция 5
                        </p>
                    </li>
                    <li>
                        <span class="searched-card__key">
                            Этаж
                        </span>
                        <p class="searched-card__value searched-card__stage-value">
                            5 / 10
                        </p>
                    </li>
                    <li>
                        <span class="searched-card__key">
                            Срок сдачи
                        </span>
                        <p class="searched-card__value searched-card__deadline-value">
                            2 квартал 2025
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="searched-card__footer">
            <div class="searched-card__prices">
                <p class="searched-card__current-price">
                    5 190 000 ₽
                </p>
                <p class="searched-card__old-price">
                    5,6 млн ₽
                </p>
            </div>
        </div>
    </div>

    <div class="searched-card__variant searched-card__variant--row">
        <div class="searched-card__single-image">
            <picture>
                <source type="image/webp" srcset="./img/searched-card/img-3.webp" alt="Alt" />
                <img class="lazy" src="./img/searched-card/img-3.png" alt="Alt" />
            </picture>
        </div>

        <div class="searched-card__main">
            <div class="searched-card__center">
                <div class="searched-card__col">
                    <div class="searched-card__top">
                        <p class="searched-card__title">
                            <span class="searched-card__name-value">3 – комнатная</span> <span
                                class="searched-card__area-value show-on-mobile">75,5 м2</span>
                        </p>

                        <ul class="searched-card__simple-list">
                            <li class="searched-card__simple-item">
                                <span class="searched-card__area-value">
                                    75,5 м2
                                </span>
                            </li>
                            <li class="searched-card__simple-item">
                                <span class="searched-card__deadline-value">
                                    4 кв. 2025
                                </span>
                            </li>
                            <li class="searched-card__simple-item">
                                <span class="searched-card__finishing-value">
                                    Чистовая
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="searched-card__tabs">
                        <div class="searched-card__tab tab tab--light-blue tab--small">
                            <span class="tab__text">
                                Комфорт класс
                            </span>
                        </div>
                        <div class="searched-card__dropdown-wrapper">
                            <label
                                class="searched-card__dropdown-button tab tab--small tab--outlined tab--square js-card-dropdown-button">
                                <span class="tab__text">
                                    +2
                                </span>
                            </label>

                            <ul class="searched-card__dropdown">
                                <li class="searched-card__dropdown-item">
                                    <div class="searched-card__tab tab tab--small tab--white">
                                        <span class="tab__text">
                                            Улучшенная отделка
                                        </span>
                                    </div>
                                </li>
                                <li class="searched-card__dropdown-item">
                                    <div class="searched-card__tab tab tab--small tab--white">
                                        <span class="tab__text">
                                            Паркинг
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="searched-card__col">
                    <div class="searched-card__top">
                        <div class="searched-card__subtitle">
                            <p class="searched-card__station-value">
                                Станция Спортивная
                            </p>
                        </div>

                        <ul class="searched-card__simple-list">
                            <li class="searched-card__simple-item">
                                <span class="searched-card__section-value">
                                    2
                                </span>
                            </li>
                            <li class="searched-card__simple-item">
                                <span class="searched-card__stage-value">
                                    5/19
                                </span>
                            </li>
                        </ul>
                    </div>

                    <p class="searched-card__location-value">
                        <span>2 очередь</span> <span class="show-on-mobile">Секция 5</span>
                    </p>
                </div>
            </div>

            <div class="searched-card__prices">
                <p class="searched-card__current-price">
                    5 190 000 ₽
                </p>
                <p class="searched-card__old-price">
                    5,6 млн ₽
                </p>
            </div>
        </div>
    </div>

    <label
        class="searched-card__favorite-checkbox favorite-checkbox favorite-checkbox--smaller favorite-checkbox--button">
        <input class="visually-hidden js-flying-heart" hidden type="checkbox" name="favorite-checkbox" id="">

        <svg class="icon js-flying-heart-icon">
            <use xlink:href="#fav"></use>
        </svg>

        <span></span>
    </label>
</a>
