<div class="tour-gallery js-tour-gallery">
    <button type="button" class="tour-gallery__expand js-tour-gallery-expand expand hide-on-mobile">
        <svg aria-hidden="true" class="icon">
            <use xlink:href="#expand"></use>
        </svg>
    </button>

    <button type="button" class="tour-gallery__close js-tour-gallery-close close-btn close-btn--bigger">
        <svg aria-hidden="true" class="icon">
            <use xlink:href="#close-empty"></use>
        </svg>
    </button>

    <div class="tour-gallery__navbar navbar js-navbar-swiper navbar--width-auto">
        <ul class="navbar__list">
            <li class="navbar__item">
                <button data-slide-id="advantages-001" type="button"
                    class="js-navbar-button navbar__button navbar__button--darker navbar__button--active">
                    <span class="navbar__text">
                        Прихожая
                    </span>
                </button>
            </li>
            <li class="navbar__item">
                <button data-slide-id="advantages-001" type="button"
                    class="js-navbar-button navbar__button navbar__button--darker">
                    <span class="navbar__text">
                        Кухня
                    </span>
                </button>
            </li>
            <li class="navbar__item">
                <button data-slide-id="advantages-001" type="button"
                    class="js-navbar-button navbar__button navbar__button--darker">
                    <span class="navbar__text">
                        Гостинная
                    </span>
                </button>
            </li>
            <li class="navbar__item">
                <button data-slide-id="advantages-001" type="button"
                    class="js-navbar-button navbar__button navbar__button--darker">
                    <span class="navbar__text">
                        Спальня
                    </span>
                </button>
            </li>
            <li class="navbar__item">
                <button data-slide-id="advantages-001" type="button"
                    class="js-navbar-button navbar__button navbar__button--darker">
                    <span class="navbar__text">
                        Санузел
                    </span>
                </button>
            </li>
        </ul>
    </div>

    <div class="tour-gallery__links">
        <a href="#" class="tour-gallery__link main-btn main-btn--red">
            Подобрать квартиру
        </a>
        <a href="#" class="tour-gallery__link main-btn main-btn--white main-btn--icons">
            <svg aria-hidden="true" class="icon">
                <use xlink:href="#3d"></use>
            </svg>
            <span>
                3D-тур по квартире
            </span>
        </a>
    </div>

    <div class="tour-gallery__swiper swiper">
        <ul class="tour-gallery__swiper-wrapper swiper-wrapper">
            <li class="tour-gallery__swiper-slide swiper-slide">
                <picture>

                    <source srcset="img/all/tour.webp" type="image/webp">
                    <img src="img/all/tour.jpg" alt="Генплан»">
                </picture>

                <div class="tour-gallery__point tour-point tour-point--top tour-point--right"
                    style="left: 10%; top: 15%;">
                    <div class="tour-point__body">
                        <input class="visually-hidden" hidden type="radio" name="tour-gallery-point"
                            id="tour-gallery-point-id-001">

                        <label for="tour-gallery-point-id-001" class="tour-point__button">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#tour-plus"></use>
                            </svg>
                        </label>

                        <div class="tour-point__popup">
                            <div class="tour-point__popup-window"></div>
                            <div class="tour-point__popup-info">
                                <p class="tour-point__name tour-point__name--text-24">
                                    Стены
                                </p>
                                <p class="tour-point__text tour-point__text--text-14">
                                    Высококачественное выравнивание стен, поклейка антивандальных обоев под покраску на
                                    флизелиновой основе
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tour-gallery__point tour-point tour-point--bottom tour-point--right"
                    style="left: 10%; top: 80%;">
                    <div class="tour-point__body">
                        <input class="visually-hidden" hidden type="radio" name="tour-gallery-point"
                            id="tour-gallery-point-id-004">

                        <label for="tour-gallery-point-id-004" class="tour-point__button">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#tour-plus"></use>
                            </svg>
                        </label>

                        <div class="tour-point__popup">
                            <div class="tour-point__popup-window"></div>
                            <div class="tour-point__popup-info">
                                <p class="tour-point__name tour-point__name--text-24">
                                    Стены
                                </p>
                                <p class="tour-point__text tour-point__text--text-14">
                                    Высококачественное выравнивание стен, поклейка антивандальных обоев под покраску на
                                    флизелиновой основе
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tour-gallery__point tour-point tour-point--top tour-point--left"
                    style="left: 90%; top: 15%;">
                    <div class="tour-point__body">
                        <input class="visually-hidden" hidden type="radio" name="tour-gallery-point"
                            id="tour-gallery-point-id-003">

                        <label for="tour-gallery-point-id-003" class="tour-point__button">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#tour-plus"></use>
                            </svg>
                        </label>

                        <div class="tour-point__popup">
                            <div class="tour-point__popup-window"></div>
                            <div class="tour-point__popup-info">
                                <p class="tour-point__name tour-point__name--text-24">
                                    Стены
                                </p>
                                <p class="tour-point__text tour-point__text--text-14">
                                    Высококачественное выравнивание стен, поклейка антивандальных обоев под покраску на
                                    флизелиновой основе
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tour-gallery__point tour-point tour-point--bottom tour-point--left"
                    style="left: 90%; top: 80%;">
                    <div class="tour-point__body">
                        <input class="visually-hidden" hidden type="radio" name="tour-gallery-point"
                            id="tour-gallery-point-id-002">
                        <label for="tour-gallery-point-id-002" class="tour-point__button">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#tour-plus"></use>
                            </svg>
                        </label>

                        <div class="tour-point__popup">
                            <div class="tour-point__popup-window"></div>
                            <div class="tour-point__popup-info">
                                <p class="tour-point__name tour-point__name--text-24">
                                    Стены
                                </p>
                                <p class="tour-point__text tour-point__text--text-14">
                                    Высококачественное выравнивание стен, поклейка антивандальных обоев под покраску на
                                    флизелиновой основе
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
