@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C';
    src: local('Core Sans C 25 ExtraLight'),
        url('../assets/fonts/CoreSansC-25ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/CoreSansC-25ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C';
    src: local('Core Sans C 35 Light'),
        url('../assets/fonts/CoreSansC-35Light.woff2') format('woff2'),
        url('../assets/fonts/CoreSansC-35Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C';
    src: local('Core Sans C 45 Regular'),
        url('../assets/fonts/CoreSansC-45Regular.woff2') format('woff2'),
        url('../assets/fonts/CoreSansC-45Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C';
    src: local('Core Sans C 55 Medium'),
        url('../assets/fonts/CoreSansC-55Medium.woff') format('woff2'),
        url('../assets/fonts/CoreSansC-55Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: local('Uni Neue Regular'),
        url('../assets/fonts/UniNeueRegular.woff2') format('woff2'),
        url('../assets/fonts/UniNeueRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
