{{#extend "layout"}}
{{#content "main"}}

<section class="section plans-section section--first">
    <div class="plans-section__site-container">
        <div class="plans-section__plans">{{> plans planIsSection=false}}</div>
    </div>
</section>

<section id="section-programs" class="section section--blue section--round-border programs">
    <div class="programs__site-container">
        <div class="programs__heading projects__heading">
            <h2 class="projects__title projects__title--h3-text">
                Ипотечные <span class="_thin-text">программы</span>
            </h2>
            <a href="./programs.html" class="main-btn main-btn--outlined hide-on-mobile">
                Смотреть все
            </a>
        </div>
        <div class="programs__body">
            <form action="" class="programs__form-calc form-calc js-form-calc">
                <p class="form-calc__title form-calc__title--h6-text">
                    Рассчитайте&nbsp;выгодные<br>условия&nbsp;по&nbsp;ипотеке
                </p>

                <div class="form-calc__inputs">
                    <div class="form-calc__input ">
                        <div class="simple-range simple-range--cost">
                            <div class="simple-range__wrapper">
                                <div class="simple-range__label simple-range__label--text-14">Стоимость квартиры</div>
                                <div class="simple-range__input-wrapper">
                                    <input class="simple-range__input styled-slider slider-progress" type="range"
                                        required="required" name="cost" id="costInput" min="4000000" max="15000000"
                                        value="5689000">
                                </div>
                                <div class="simple-range__values">
                                    <div class="input simple-range__input-value simple-range__input-value--text-18">
                                        <output data-calc-output for="cost" id="costOutput">
                                            5 689 000
                                        </output><span>&nbsp;</span><span class="simple-range__span-currency">₽</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-calc__input">
                        <div class="simple-range simple-range--prepayment">
                            <div class="simple-range__wrapper">
                                <div class="simple-range__label simple-range__label--text-14">Стоимость квартиры</div>

                                <div class="simple-range__input-wrapper">
                                    <input class="simple-range__input styled-slider slider-progress" type="range"
                                        required="required" name="prepayment" id="prepaymentInput" min="1000000"
                                        max="5000000" value="2345000">
                                </div>

                                <div class="simple-range__values">
                                    <div class="input simple-range__input-value simple-range__input-value--text-18">
                                        <output data-calc-output for="prepayment" id="prepaymentOutput">
                                            2 345 000
                                        </output><span>&nbsp;</span><span class="simple-range__span-currency">₽</span>
                                    </div>
                                    <div class="simple-range__input-percentege">
                                        <span class="simple-range__percentege-value">20</span><span>&nbsp;</span><span
                                            class="simple-range__percentege-currency">&#x25;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-calc__input">
                        <div class="select select--blue">
                            <div class="select__label simple-range__label simple-range__label--text-14">
                                Выбрать программу
                            </div>
                            <select name="project" class="js-custom-select">
                                <option value="Проект">Выбрать программу</option>
                                <option value="Ипотека для IT специалистов">Ипотека для IT специалистов</option>
                                <option value="Ипотека с господдержкой">Ипотека с господдержкой</option>
                                <option value="Губернаторская ипотека">Губернаторская ипотека</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-calc__input">
                        <div class="simple-range simple-range--term">
                            <div class="simple-range__wrapper">
                                <div class="simple-range__label simple-range__label--text-14">Срок</div>

                                <div class="simple-range__input-wrapper">
                                    <input class="simple-range__input styled-slider slider-progress" type="range"
                                        required="required" name="term" id="termInput" min="5" max="30" value="30">
                                </div>

                                <div class="simple-range__values">
                                    <div class="input simple-range__input-value simple-range__input-value--text-18">
                                        <output for="term" id="termOutput">30</output><span>&nbsp;</span><span
                                            class="simple-range__span-currency">лет</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-calc__final">
                    <p class="form-calc__final-text form-calc__final-text--h6-text">
                        Ежемесячный платеж
                    </p>
                    <p id="calc-sum" class="form-calc__final-sum form-calc__final-sum--h6-text">
                        20 000
                    </p>
                </div>

                <button class="form-calc__submit main-btn main-btn--white" type="submit">
                    Отправить онлайн-заявку
                </button>
            </form>

            <div class="programs__list-wrapper js-programs-mobile-swiper">
                <ul class="programs__list">
                    <li class="programs__item program">
                        <div class="program__image-block">
                            <div class="program__icon">
                                <svg class="icon">
                                    <use xlink:href="#family"></use>
                                </svg>
                            </div>
                            <p class="program__name program__name--text-26">
                                Семейная
                                ипотека
                            </p>
                        </div>

                        <ul class="program__advantages">
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-low-text program__number-low-text--text-18">от</span>
                                    <span class="program__number-text program__number-text--text-28">15%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    первоначальный взнос
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">6%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    процентная ставка
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">30</span>
                                    <span class="program__number-low-text program__number-low-text--text-18">лет</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    макс.&nbsp;cрок кредита
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">6</span>
                                    <span class="program__number-low-text program__number-low-text--text-18">млн</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    макс.&nbsp;сумма кредита
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="programs__item program">
                        <div class="program__image-block">
                            <div class="program__icon">
                                <svg class="icon">
                                    <use xlink:href="#it"></use>
                                </svg>
                            </div>
                            <p class="program__name program__name--text-26">
                                Ипотека&nbsp;для&nbsp;IT специалистов
                            </p>
                        </div>

                        <ul class="program__advantages">
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-low-text program__number-low-text--text-18">от</span>
                                    <span class="program__number-text program__number-text--text-28">15%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    первоначальный взнос
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">6%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    процентная ставка
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">30</span>
                                    <span class="program__number-low-text program__number-low-text--text-18">лет</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    cрок<br>кредита
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">9</span>
                                    <span class="program__number-low-text program__number-low-text--text-18">млн</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    сумма кредита
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="programs__item program">
                        <div class="program__image-block">
                            <div class="program__icon">
                                <svg class="icon">
                                    <use xlink:href="#gover"></use>
                                </svg>
                            </div>
                            <p class="program__name program__name--text-26">
                                Ипотека с&nbsp;господдержкой
                            </p>
                        </div>

                        <ul class="program__advantages">
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-low-text program__number-low-text--text-18">от</span>
                                    <span class="program__number-text program__number-text--text-28">15%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    первоначальный взнос
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">8%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    процентная ставка
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">30</span>
                                    <span class="program__number-low-text program__number-low-text--text-18">лет</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    cрок<br>кредита
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">6</span>
                                    <span class="program__number-low-text program__number-low-text--text-18">млн</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    сумма кредита
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="programs__item program program--space-between">
                        <div class="program__image-block">
                            <div class="program__icon">
                                <svg class="icon">
                                    <use xlink:href="#general"></use>
                                </svg>
                            </div>
                            <p class="program__name program__name--text-26">
                                Губернаторская ипотека
                            </p>
                        </div>

                        <ul class="program__advantages">
                            <li class="program__advantage program__advantage--single">
                                <p class="program__text program__text--text-14">
                                    Субсидирование из областного бюджета
                                </p>
                            </li>
                            <li class="program__advantage">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">&lt;&nbsp;8%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    процентная&nbsp;ставка не выше 8%
                                </p>
                            </li>
                            <li class="program__advantage program__advantage--row">
                                <p class="program__numbers">
                                    <span class="program__number-text program__number-text--text-28">6%</span>
                                </p>
                                <p class="program__text program__text--text-14">
                                    в&nbsp;течение&nbsp;первых&nbsp;5 лет&nbsp;для&nbsp;работников бюджетной&nbsp;сферы
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="./programs.html" class="programs__link main-btn main-btn--outlined show-on-mobile">
                    Смотреть все
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section section--white section--round-border gallery">
    <div class="gallery__site-container  js-switchable-window">
        <div class="gallery__heading projects__heading">
            <h2 class="projects__title projects__title--h3-text projects__title--end-dot">
                Фотогалерея
            </h2>

            <div class="gallery__navbar js-navbar-swiper navbar navbar--width-auto">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <button data-switch-id="gallery-001" type="button"
                            class="js-navbar-button navbar__button navbar__button--darker navbar__button--active">
                            <span class="navbar__text">
                                Фасад дома
                            </span>
                        </button>
                    </li>
                    <li class="navbar__item">
                        <button data-switch-id="gallery-002" type="button"
                            class="js-navbar-button navbar__button--darker navbar__button">
                            <span class="navbar__text">
                                Лобби и подъезд
                            </span>
                        </button>
                    </li>
                    <li class="navbar__item">
                        <button data-switch-id="gallery-002" type="button"
                            class="js-navbar-button navbar__button--darker navbar__button">
                            <span class="navbar__text">
                                Вид из окон
                            </span>
                        </button>
                    </li>
                    <li class="navbar__item">
                        <button data-switch-id="gallery-002" type="button"
                            class="js-navbar-button navbar__button--darker navbar__button">
                            <span class="navbar__text">
                                Благоустройство
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="gallery__windows">
            <div data-switch-window id="gallery-001" class="gallery__body js-gallery-swiper-wrapper">
                <div class="gallery__main-swiper swiper">
                    <ul class="gallery__main-swiper-wrapper swiper-wrapper">
                        <li class="gallery__main-swiper-slide swiper-slide">
                            <picture>
                                <source srcset="./img/gallery/image-mob.webp" media="(max-width: 768px)"
                                    type="image/webp">
                                <source srcset="./img/gallery/image-mob.jpg" media="(max-width: 768px)">
                                <source srcset="./img/gallery/img.webp" type="image/webp">
                                <img src="./img/gallery/img.jpg" alt="Генплан»">
                            </picture>
                        </li>
                        <li class="gallery__main-swiper-slide swiper-slide">
                            <picture>
                                <source srcset="./img/gallery/image-mob.webp" media="(max-width: 768px)"
                                    type="image/webp">
                                <source srcset="./img/gallery/image-mob.jpg" media="(max-width: 768px)">
                                <source srcset="./img/gallery/img.webp" type="image/webp">
                                <img src="./img/gallery/img.jpg" alt="Генплан»">
                            </picture>
                        </li>
                        <li class="gallery__main-swiper-slide swiper-slide">
                            <picture>
                                <source srcset="./img/gallery/image-mob.webp" media="(max-width: 768px)"
                                    type="image/webp">
                                <source srcset="./img/gallery/image-mob.jpg" media="(max-width: 768px)">
                                <source srcset="./img/gallery/img.webp" type="image/webp">
                                <img src="./img/gallery/img.jpg" alt="Генплан»">
                            </picture>
                        </li>
                        <li class="gallery__main-swiper-slide swiper-slide">
                            <picture>
                                <source srcset="./img/gallery/image-mob.webp" media="(max-width: 768px)"
                                    type="image/webp">
                                <source srcset="./img/gallery/image-mob.jpg" media="(max-width: 768px)">
                                <source srcset="./img/gallery/img.webp" type="image/webp">
                                <img src="./img/gallery/img.jpg" alt="Генплан»">
                            </picture>
                        </li>
                        <li class="gallery__main-swiper-slide swiper-slide">
                            <picture>
                                <source srcset="./img/gallery/image-mob.webp" media="(max-width: 768px)"
                                    type="image/webp">
                                <source srcset="./img/gallery/image-mob.jpg" media="(max-width: 768px)">
                                <source srcset="./img/gallery/img.webp" type="image/webp">
                                <img src="./img/gallery/img.jpg" alt="Генплан»">
                            </picture>
                        </li>
                    </ul>

                    <div class="gallery__main-swiper-pagination">
                        <div class="swiper-pagination"></div>

                        <div class="swiper-pagination-counting">
                            <svg class="icon" viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="50" stroke="#ffffff" stroke-width="1" fill-opacity="0" />
                            </svg>
                        </div>
                    </div>

                    <div class="gallery__main-swiper-buttons carousel__buttons">
                        <button type="button" class="carousel__btn carousel-btn carousel-btn--dark carousel-btn__prev">
                            <svg class="icon">
                                <use xlink:href="#swiper-arrow"></use>
                            </svg>
                        </button>
                        <button type="button" class="carousel__btn carousel-btn carousel-btn--dark carousel-btn__next">
                            <svg class="icon">
                                <use xlink:href="#swiper-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="gallery__thumbs">
                    <div class="gallery__thumbs-swiper swiper">
                        <ul class="gallery__thumbs-swiper-wrapper swiper-wrapper">
                            <li class="gallery__thumbs-swiper-slide swiper-slide">
                                <a href="#" class="js-gallery-thumb gallery__thumb gallery__thumb--active">
                                    <picture>
                                        <source srcset="./img/gallery/thumb.webp" type="image/webp">
                                        <img src="./img/gallery/thumb.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                            <li class="gallery__thumbs-swiper-slide swiper-slide">
                                <a href="#" class="js-gallery-thumb gallery__thumb">
                                    <picture>
                                        <source srcset="./img/gallery/thumb-1.webp" type="image/webp">
                                        <img src="./img/gallery/thumb-1.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                            <li class="gallery__thumbs-swiper-slide swiper-slide">
                                <a href="#" class="js-gallery-thumb gallery__thumb">
                                    <picture>
                                        <source srcset="./img/gallery/thumb.webp" type="image/webp">
                                        <img src="./img/gallery/thumb.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                            <li class="gallery__thumbs-swiper-slide swiper-slide">
                                <a href="#" class="js-gallery-thumb gallery__thumb">
                                    <picture>
                                        <source srcset="./img/gallery/thumb-1.webp" type="image/webp">
                                        <img src="./img/gallery/thumb-1.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                            <li class="gallery__thumbs-swiper-slide swiper-slide">
                                <a href="#" class="js-gallery-thumb gallery__thumb">
                                    <picture>
                                        <source srcset="./img/gallery/thumb-1.webp" type="image/webp">
                                        <img src="./img/gallery/thumb-1.jpg" alt="">
                                    </picture>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--white except expect--images">
    <div class="except__site-container">
        <div class="projects__heading except__heading">
            <h2 class="projects__title projects__title--h3-text projects__title--end-dot">
                Кроме&nbsp;<span class="_thin-text">квартир</span>
            </h2>
        </div>

        <ul class="projects__list except__list">
            <li class="projects__item except__item">
                <a href="#" id="" class="except-link">
                    <div class="except-link__image image-block">
                        <picture>
                            <source type="image/webp" srcset="./img/excepts/excepts-H.webp" alt="excepts image" />
                            <img class="lazy" src="./img/excepts/excepts-H.jpg" alt="excepts image" />
                        </picture>
                    </div>
                    <div class="except-link__body">
                        <div class="except-link__row">
                            <p class="except-link__title except-link__title--h5-text">
                                Коммерческая недвижимость
                            </p>

                            <div class="except-link__btn"></div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__item except__item">
                <a href="#" id="" class="except-link">
                    <div class="except-link__image image-block">
                        <picture>
                            <source type="image/webp" srcset="./img/excepts/excepts-H1.webp" alt="excepts image" />
                            <img class="lazy" src="./img/excepts/excepts-H1.jpg" alt="excepts image" />
                        </picture>
                    </div>
                    <div class="except-link__body">
                        <div class="except-link__row">
                            <p class="except-link__title except-link__title--h5-text">
                                Кладовые
                            </p>

                            <div class="except-link__btn"></div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__item except__item">
                <a href="#" id="" class="except-link">
                    <div class="except-link__image image-block">
                        <picture>
                            <source type="image/webp" srcset="./img/excepts/excepts-H2.webp" alt="excepts image" />
                            <img class="lazy" src="./img/excepts/excepts-H2.jpg" alt="excepts image" />
                        </picture>
                    </div>
                    <div class="except-link__body">
                        <div class="except-link__row">
                            <p class="except-link__title except-link__title--h5-text">
                                Паркинг
                            </p>

                            <div class="except-link__btn"></div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="section section--round-border section--grey similar">
    <div class="similar__site-container js-triple-carousel-wrapper">
        <div class="projects__heading similar__heading">
            <h2 class="projects__title projects__title--h3-text projects__title--end-dot">
                Похожие&nbsp;<span class="_thin-text">квартиры</span>
            </h2>

            <div class="similar__buttons carousel__buttons">
                <button type="button" class="carousel__btn carousel-btn carousel-btn__prev">
                    <svg class="icon">
                        <use xlink:href="#swiper-arrow-black"></use>
                    </svg>
                </button>
                <button type="button" class="carousel__btn carousel-btn carousel-btn__next">
                    <svg class="icon">
                        <use xlink:href="#swiper-arrow-black"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="similar__body">
            <div data-slides="5" class="similar__swiper swiper">
                <ul class="similar__swiper-wrapper swiper-wrapper">
                    <li class="similar__swiper-slide swiper-slide">
                        {{>searched-card cardId=searched-001}}
                    </li>
                    <li class="similar__swiper-slide swiper-slide">
                        {{>searched-card cardId=searched-002}}
                    </li>
                    <li class="similar__swiper-slide swiper-slide">
                        {{>searched-card cardId=searched-003}}
                    </li>
                    <li class="similar__swiper-slide swiper-slide">
                        {{>searched-card cardId=searched-004}}
                    </li>
                    <li class="similar__swiper-slide swiper-slide">
                        {{>searched-card cardId=searched-005}}
                    </li>
                    <li class="similar__swiper-slide swiper-slide">
                        {{>searched-card cardId=searched-006}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
