{{#extend "layout"}}
{{#content "main"}}

<section class="home section section--first js-animation-trigger">
    <div class="home__site-container">
        <div
            class="home__grid-block home__grid-block--full-width grid-block grid-block--decrease _animate-opacity-scale-from-down">
            <div class="home__link-block link-block link-block--big js-link-block-swiper">
                <div class="link-block__swiper swiper">
                    <ul class="link-block__swiper-wrapper swiper-wrapper">
                        <li class="link-block__swiper-slide swiper-slide">
                            <div class="link-block__body">
                                <div class="link-block__heading">
                                    <p class="link-block__title link-block__title--inline link-block__title--text-h2">
                                        Ипотека под 2,5% для <span class="link-block__grey-text">IT-специалистов</span>
                                    </p>

                                    <p class="link-block__desc link-block__desc--text-26">
                                        Субсидированная процентная ставка в размере 2,5% годовых на весь срок
                                        кредитования
                                    </p>
                                </div>

                                <a href="#" class="link-block__btn main-btn main-btn--outlined">
                                    Подробнее
                                </a>

                                <div class="link-block__decore-image">
                                    <img src="./img/all/home-decore.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="link-block__swiper-slide swiper-slide">
                            <div class="link-block__body">
                                <div class="link-block__heading">
                                    <p class="link-block__title link-block__title--inline link-block__title--text-h2">
                                        Ипотека под 2,5% для <span class="link-block__grey-text">IT-специалистов</span>
                                    </p>

                                    <p class="link-block__desc link-block__desc--text-26">
                                        Субсидированная процентная ставка в размере 2,5% годовых на весь срок
                                        кредитования
                                    </p>
                                </div>

                                <a href="#" class="link-block__btn main-btn main-btn--outlined">
                                    Подробнее
                                </a>

                                <div class="link-block__decore-image">
                                    <img src="./img/all/home-decore.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
