{{#extend "layout"}}
{{#content "main"}}

<section class="home section section--first js-animation-trigger">
    <div class="home__site-container">
        <div class="home__grid-block home__grid-block--full-width grid-block grid-block--decrease">
            <div class="grid-block__big-part home__big-part _animate-opacity-scale-from-down">
                {{>home-slider homeSliderSmallClass=false}}
            </div>
        </div>
    </div>

    {{> filters }}
</section>

<section class="section projects js-animation-trigger">
    <div class="projects__site-container js-switchable-window">
        <div class="projects__heading">
            <h2 class="projects__title projects__title--h3-text projects__title--end-dot">
                <span class="_thin-text">Наши&nbsp;</span>проекты
            </h2>

            <div class="projects__navbar navbar">
                <ul class="navbar__list">
                    <li class="navbar__item navbar__item--fb50">
                        <button data-switch-id="projects-list" type="button"
                            class="js-navbar-button navbar__button  navbar__button--active">
                            <svg class="icon">
                                <use xlink:href="#tile"></use>
                            </svg>
                            <span class="navbar__text navbar__text--text-16">
                                Плиткой
                            </span>
                        </button>
                    </li>
                    <li class="navbar__item  navbar__item--fb50">
                        <button data-switch-id="projects-map" type="button" class="js-navbar-button navbar__button">
                            <svg class="icon">
                                <use xlink:href="#pin"></use>
                            </svg>
                            <span class="navbar__text navbar__text--text-16">
                                На карте
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="projects__render-window">
            <ul data-switch-window id="projects-list" class="projects__list projects__list--animate">
                <li class="projects__item">
                    <a href="#" id="" class="project-card">
                        <div class="project-card__image js-card-swiper-wrapper">
                            <div class="project-card__swiper swiper">
                                <ul class="project-card__swiper-wrapper swiper-wrapper">
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-3H.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-3H.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                </ul>

                                <div class="swiper-pagination"></div>
                            </div>

                            <div class="project-card__transparent-thumbs">
                                <div class="transparent-thumbs swiper">
                                    <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                                    </ul>
                                </div>
                            </div>

                            <ul class="project-card__tabs">
                                <li class="project-card__tab tab">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Комфорт</span>
                                </li>
                                <li class="project-card__tab tab tab--icon">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="project-card__info">
                            <div class="project-card__title">
                                <p class="project-card__name project-card__name--text-32">
                                    Южный парк
                                </p>

                                <p class="project-card__price">
                                    от 4,9 млн ₽
                                </p>
                            </div>
                            <p class="project-card__address">
                                Приволжский р-н, ул. Рауиса Гареева
                            </p>
                        </div>
                    </a>
                </li>
                <li class="projects__item projects__item--wide">
                    <a href="#" id="" class="project-card">
                        <div class="project-card__image js-card-swiper-wrapper">
                            <div class="project-card__swiper swiper">
                                <ul class="project-card__swiper-wrapper swiper-wrapper">
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-3HH.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-3HH.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                </ul>

                                <div class="swiper-pagination"></div>
                            </div>

                            <div class="project-card__transparent-thumbs">
                                <div class="transparent-thumbs swiper">
                                    <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                                    </ul>
                                </div>
                            </div>

                            <ul class="project-card__tabs">
                                <li class="project-card__tab tab">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Комфорт</span>
                                </li>
                                <li class="project-card__tab tab tab--icon">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="project-card__info">
                            <div class="project-card__title">
                                <p class="project-card__name project-card__name--text-32">
                                    Станция Спортивная
                                </p>

                                <p class="project-card__price">
                                    от 4,9 млн ₽
                                </p>
                            </div>
                            <p class="project-card__address">
                                Приволжский р-н, ул. Рауиса Гареева
                            </p>
                        </div>
                    </a>
                </li>
                <li class="projects__item">
                    <a href="#" id="" class="project-card">
                        <div class="project-card__image js-card-swiper-wrapper">
                            <div class="project-card__swiper swiper">
                                <ul class="project-card__swiper-wrapper swiper-wrapper">
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4H.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4H.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                </ul>

                                <div class="swiper-pagination"></div>
                            </div>

                            <div class="project-card__transparent-thumbs">
                                <div class="transparent-thumbs swiper">
                                    <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                                    </ul>
                                </div>
                            </div>

                            <ul class="project-card__tabs">
                                <li class="project-card__tab tab tab--dark">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Бизнес класс</span>
                                </li>
                                <li class="project-card__tab tab tab--icon">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="project-card__info">
                            <div class="project-card__title">
                                <p class="project-card__name project-card__name--text-32">
                                    Времена года
                                </p>

                                <p class="project-card__price">
                                    от 4,9 млн ₽
                                </p>
                            </div>
                            <p class="project-card__address">
                                Приволжский р-н, ул. Рауиса Гареева
                            </p>
                        </div>
                    </a>
                </li>
                <li class="projects__item">
                    <a href="#" id="" class="project-card">
                        <div class="project-card__image js-card-swiper-wrapper">
                            <div class="project-card__swiper swiper">
                                <ul class="project-card__swiper-wrapper swiper-wrapper">
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1H.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1H.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                </ul>

                                <div class="swiper-pagination"></div>
                            </div>

                            <div class="project-card__transparent-thumbs">
                                <div class="transparent-thumbs swiper">
                                    <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                                    </ul>
                                </div>
                            </div>

                            <ul class="project-card__tabs">
                                <li class="project-card__tab tab tab--dark">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Бизнес класс</span>
                                </li>
                                <li class="project-card__tab tab tab--icon">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="project-card__info">
                            <div class="project-card__title">
                                <p class="project-card__name project-card__name--text-32">
                                    Сказочный лес
                                </p>

                                <p class="project-card__price">
                                    от 4,9 млн ₽
                                </p>
                            </div>
                            <p class="project-card__address">
                                Приволжский р-н, ул. Рауиса Гареева
                            </p>
                        </div>
                    </a>
                </li>
                <li class="projects__item">
                    <a href="#" id="" class="project-card">
                        <div class="project-card__image js-card-swiper-wrapper">
                            <div class="project-card__swiper swiper">
                                <ul class="project-card__swiper-wrapper swiper-wrapper">
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-5H.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-5H.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                </ul>

                                <div class="swiper-pagination"></div>
                            </div>

                            <div class="project-card__transparent-thumbs">
                                <div class="transparent-thumbs swiper">
                                    <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                                    </ul>
                                </div>
                            </div>

                            <ul class="project-card__tabs">
                                <li class="project-card__tab tab">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Комфорт</span>
                                </li>
                                <li class="project-card__tab tab tab--icon">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="project-card__info">
                            <div class="project-card__title">
                                <p class="project-card__name project-card__name--text-32">
                                    Палитра
                                </p>

                                <p class="project-card__price">
                                    от 4,9 млн ₽
                                </p>
                            </div>
                            <p class="project-card__address">
                                Приволжский р-н, ул. Рауиса Гареева
                            </p>
                        </div>
                    </a>
                </li>
                <li class="projects__item projects__item--wide">
                    <a href="#" id="" class="project-card">
                        <div class="project-card__image js-card-swiper-wrapper">
                            <div class="project-card__swiper swiper">
                                <ul class="project-card__swiper-wrapper swiper-wrapper">
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-6H.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-6H.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                </ul>

                                <div class="swiper-pagination"></div>
                            </div>

                            <div class="project-card__transparent-thumbs">
                                <div class="transparent-thumbs swiper">
                                    <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                                    </ul>
                                </div>
                            </div>

                            <ul class="project-card__tabs">
                                <li class="project-card__tab tab tab--dark">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Бизнес класс</span>
                                </li>
                                <li class="project-card__tab tab tab--icon">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="project-card__info">
                            <div class="project-card__title">
                                <p class="project-card__name project-card__name--text-32">
                                    Отражение
                                </p>

                                <p class="project-card__price">
                                    от 4,9 млн ₽
                                </p>
                            </div>
                            <p class="project-card__address">
                                Приволжский р-н, ул. Рауиса Гареева
                            </p>
                        </div>
                    </a>
                </li>
                <li class="projects__item">
                    <a href="#" id="" class="project-card">
                        <div class="project-card__image js-card-swiper-wrapper">
                            <div class="project-card__swiper swiper">
                                <ul class="project-card__swiper-wrapper swiper-wrapper">
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-7H.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-7H.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-2.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-1.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                    <li class="project-card__swiper-slide swiper-slide image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/projects/img-4.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/projects/img-4.jpg" alt="project image" />
                                        </picture>
                                    </li>
                                </ul>

                                <div class="swiper-pagination"></div>
                            </div>

                            <div class="project-card__transparent-thumbs">
                                <div class="transparent-thumbs swiper">
                                    <ul class="transparent-thumbs__swiper-wrapper swiper-wrapper">

                                    </ul>
                                </div>
                            </div>

                            <ul class="project-card__tabs">
                                <li class="project-card__tab tab tab--dark">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Бизнес класс</span>
                                </li>
                                <li class="project-card__tab tab tab--icon">
                                    <svg class="icon">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                    <span class="tab__text tab__text--text-14">Сдача в 2026</span>
                                </li>
                            </ul>
                        </div>

                        <div class="project-card__info">
                            <div class="project-card__title">
                                <p class="project-card__name project-card__name--text-32">
                                    Столичный
                                </p>

                                <p class="project-card__price">
                                    от 4,9 млн ₽
                                </p>
                            </div>
                            <p class="project-card__address">
                                Приволжский р-н, ул. Рауиса Гареева
                            </p>
                        </div>
                    </a>
                </li>

            </ul>

            <div data-switch-window id="projects-map" class="projects__map  display-none">
                <script>
                    var mapDataObjects = [
                        {
                            coords: [55.818338, 49.143829],
                            class: ['tab--dark', 'Бизнес класс'],
                            devEnd: '2026',
                            image: `./img/all/map-popup.png`,
                            name: 'Столичный',
                            address: `Казань, ул. Чистопольская 86/10 офис-287`,
                            studios: '5',
                            oneRoom: '10',
                            twoRoom: '5',
                            threeRoom: '2',
                            fourRoom: '2',
                            link: 'https://www.google.ru/'
                        },
                        {
                            coords: [55.689060, 49.201115],
                            class: ['', 'Комфорт'],
                            devEnd: '2025',
                            name: 'Южный парк',
                            image: `./img/all/map-popup.png`,
                            address: `Казань, ул. Уютная,1`,
                            studios: '5',
                            oneRoom: '10',
                            twoRoom: '5',
                            threeRoom: '2',
                            fourRoom: '2',
                            link: 'https://www.google.ru/'
                        },
                        {
                            coords: [55.761280, 49.150644],
                            class: ['tab--dark', 'Бизнес класс'],
                            devEnd: '2026',
                            name: 'Манхэттен',
                            image: `./img/all/map-popup.png`,
                            address: `Казань, Оренбургский тракт 8д, 3 этаж`,
                            studios: '5',
                            oneRoom: '10',
                            twoRoom: '5',
                            threeRoom: '2',
                            fourRoom: '2',
                            link: 'https://www.google.ru/'
                        },
                        {
                            coords: [55.721502, 49.187600],
                            class: ['', 'Комфорт'],
                            devEnd: '2024',
                            name: 'Палитра',
                            image: `./img/all/map-popup.png`,
                            address: `Казань, ул.Братьев Батталовых 20 к.1`,
                            studios: '15',
                            oneRoom: '1',
                            twoRoom: '3',
                            threeRoom: '22',
                            fourRoom: '21',
                            link: 'https://www.google.ru/'
                        },
                        {
                            coords: [55.724368, 49.174191],
                            class: ['tab--dark', 'Бизнес класс'],
                            devEnd: '2026',
                            name: 'Сказочный лес',
                            image: `./img/all/map-popup.png`,
                            address: `Казань, ул. Рауиса Гареева, 109`,
                            studios: '5',
                            oneRoom: '10',
                            twoRoom: '5',
                            threeRoom: '2',
                            fourRoom: '2',
                            link: 'https://www.google.ru/'
                        },
                    ];

                    var mapProjectsZoom = 11;

                    var mapProjectsCenter = [55.800777, 49.107601];
                </script>
                <div class="projects__map-wrapper js-projects-map"></div>
            </div>
        </div>
    </div>
</section>

<section class="section section--blue section--round-border programs js-pin-trigger">
    <div class="programs__site-container">
        <div class="programs__heading projects__heading">
            <h2 class="projects__title projects__title--h3-text">
                Ипотечные программы
            </h2>
            <a href="./programs.html" class="main-btn main-btn--smaller main-btn--outlined hide-on-mobile">
                Смотреть все
            </a>
        </div>
        <div class="programs__body">
            <form action="" class="programs__form-calc form-calc js-form-calc">
                <p class="form-calc__title form-calc__title--h6-text">
                    Рассчитайте&nbsp;выгодные<br>условия&nbsp;по&nbsp;ипотеке
                </p>

                <div class="form-calc__inputs">
                    <div class="form-calc__input ">
                        <div class="simple-range simple-range--pink simple-range--cost">
                            <div class="simple-range__wrapper">
                                <div class="simple-range__label simple-range__label--text-14">Стоимость квартиры</div>
                                <div class="simple-range__input-wrapper">
                                    <input class="simple-range__input styled-slider slider-progress" type="range"
                                        required="required" name="cost" id="costInput" min="4000000" max="15000000"
                                        value="5689000">
                                </div>
                                <div class="simple-range__values">
                                    <div class="input simple-range__input-value simple-range__input-value--text-18">
                                        <output data-calc-output for="cost" id="costOutput">
                                            5 689 000
                                        </output><span>&nbsp;</span><span
                                            class="simple-range__span-currency">руб.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-calc__input">
                        <div class="simple-range simple-range--pink simple-range--prepayment">
                            <div class="simple-range__wrapper">
                                <div class="simple-range__label simple-range__label--text-14">Стоимость квартиры</div>

                                <div class="simple-range__input-wrapper">
                                    <input class="simple-range__input styled-slider slider-progress" type="range"
                                        required="required" name="prepayment" id="prepaymentInput" min="1000000"
                                        max="5000000" value="2345000">
                                </div>

                                <div class="simple-range__values">
                                    <div class="input simple-range__input-value simple-range__input-value--text-18">
                                        <output data-calc-output for="prepayment" id="prepaymentOutput">
                                            2 345 000
                                        </output><span>&nbsp;</span><span
                                            class="simple-range__span-currency">руб.</span>
                                    </div>
                                    <div class="simple-range__input-percentege">
                                        <span class="simple-range__percentege-value">20</span><span></span><span
                                            class="simple-range__percentege-currency">&#x25;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-calc__input">
                        <div class="select select--blue">
                            <div class="select__label simple-range__label simple-range__label--text-14">
                                Выбрать программу
                            </div>
                            <select name="project" class="js-custom-select">
                                <option value="Проект">Выбрать программу</option>
                                <option value="Ипотека для IT специалистов">Ипотека для IT специалистов</option>
                                <option value="Ипотека с господдержкой">Ипотека с господдержкой</option>
                                <option value="Губернаторская ипотека">Губернаторская ипотека</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-calc__input">
                        <div class="simple-range simple-range--pink simple-range--term">
                            <div class="simple-range__wrapper">
                                <div class="simple-range__label simple-range__label--text-14">Срок</div>

                                <div class="simple-range__input-wrapper">
                                    <input class="simple-range__input styled-slider slider-progress" type="range"
                                        required="required" name="term" id="termInput" min="5" max="30" value="30">
                                </div>

                                <div class="simple-range__values">
                                    <div class="input simple-range__input-value simple-range__input-value--text-18">
                                        <output for="term" id="termOutput">30</output><span>&nbsp;</span><span
                                            class="simple-range__span-currency js-year-text">лет</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-calc__final">
                    <p class="form-calc__final-text form-calc__final-text--h6-text">
                        Ежемесячный платеж
                    </p>
                    <p id="calc-sum" class="form-calc__final-sum form-calc__final-sum--h6-text">
                        20 000
                    </p>
                </div>

                <button class="form-calc__submit main-btn main-btn--white" type="submit">
                    Отправить онлайн-заявку
                </button>
            </form>

            <ul class="programs__list">
                <li class="programs__item program">
                    <div class="program__image-block">
                        <div class="program__icon">
                            <svg class="icon">
                                <use xlink:href="#family"></use>
                            </svg>
                        </div>
                        <p class="program__name program__name--text-26">
                            Семейная
                            ипотека
                        </p>
                    </div>

                    <ul class="program__advantages">
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-low-text program__number-low-text--text-18">от</span>
                                <span class="program__number-text program__number-text--text-28">15%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                первоначальный взнос
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">6%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                процентная ставка
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">30</span>
                                <span class="program__number-low-text program__number-low-text--text-18">лет</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                макс.&nbsp;cрок кредита
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">6</span>
                                <span class="program__number-low-text program__number-low-text--text-18">млн</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                макс.&nbsp;сумма кредита
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="programs__item program">
                    <div class="program__image-block">
                        <div class="program__icon">
                            <svg class="icon">
                                <use xlink:href="#it"></use>
                            </svg>
                        </div>
                        <p class="program__name program__name--text-26">
                            Ипотека&nbsp;для&nbsp;IT специалистов
                        </p>
                    </div>

                    <ul class="program__advantages">
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-low-text program__number-low-text--text-18">от</span>
                                <span class="program__number-text program__number-text--text-28">15%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                первоначальный взнос
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">6%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                процентная ставка
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">30</span>
                                <span class="program__number-low-text program__number-low-text--text-18">лет</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                cрок<br>кредита
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">9</span>
                                <span class="program__number-low-text program__number-low-text--text-18">млн</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                сумма кредита
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="programs__item program">
                    <div class="program__image-block">
                        <div class="program__icon">
                            <svg class="icon">
                                <use xlink:href="#gover"></use>
                            </svg>
                        </div>
                        <p class="program__name program__name--text-26">
                            Ипотека с&nbsp;господдержкой
                        </p>
                    </div>

                    <ul class="program__advantages">
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-low-text program__number-low-text--text-18">от</span>
                                <span class="program__number-text program__number-text--text-28">15%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                первоначальный взнос
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">8%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                процентная ставка
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">30</span>
                                <span class="program__number-low-text program__number-low-text--text-18">лет</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                cрок<br>кредита
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">6</span>
                                <span class="program__number-low-text program__number-low-text--text-18">млн</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                сумма кредита
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="programs__item program program--space-between">
                    <div class="program__image-block">
                        <div class="program__icon">
                            <svg class="icon">
                                <use xlink:href="#general"></use>
                            </svg>
                        </div>
                        <p class="program__name program__name--text-26">
                            Губернаторская ипотека
                        </p>
                    </div>

                    <ul class="program__advantages">
                        <li class="program__advantage program__advantage--single">
                            <p class="program__text program__text--text-14">
                                Субсидирование из областного бюджета
                            </p>
                        </li>
                        <li class="program__advantage">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">&lt;&nbsp;8%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                процентная&nbsp;ставка не выше 8%
                            </p>
                        </li>
                        <li class="program__advantage program__advantage--row">
                            <p class="program__numbers">
                                <span class="program__number-text program__number-text--text-28">6%</span>
                            </p>
                            <p class="program__text program__text--text-14">
                                в&nbsp;течение&nbsp;первых&nbsp;5 лет&nbsp;для&nbsp;работников бюджетной&nbsp;сферы
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="programs__item show-on-mobile">
                    <a href="./programs.html" class="programs__link main-btn main-btn--outlined">
                        Смотреть все
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="section section--white section--round-border carousel js-carousel-swiper-section">
    <div class="carousel__site-container">
        <div class="carousel__heading projects__heading">
            <h2 class="projects__title projects__title--h3-text projects__title--end-dot">
                Новости
            </h2>
            <a href="./news.html"
                class="main-btn main-btn--smaller main-btn--outlined main-btn--outlined-dark hide-on-mobile">
                Смотреть все
            </a>
        </div>

        <div class="carousel__body programs__body">
            <div class="carousel__aside carousel__aside--flex-end">
                <div class="carousel__control">
                    <a href="#mailing-modal"
                        class="carousel__mailing main-btn main-btn--icons main-btn--grey js-open-modal hide-on-mobile">
                        <svg class="icon">
                            <use xlink:href="#mailing"></use>
                        </svg>
                        <span>Подписаться на рассылку</span>
                    </a>
                </div>
            </div>

            <div class="carousel__swiper-wrapper">
                <div class="carousel__swiper swiper">
                    <ul class="carousel__swiper-wrapper swiper-wrapper">
                        <li class="carousel__swiper-slide swiper-slide">
                            <a id="" href="#" class="news-foto">
                                <div class="news-foto__image">
                                    <div class="image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/news/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/news/img-1.jpg" alt="project image" />
                                        </picture>
                                    </div>
                                </div>

                                <div class="news-foto__info">
                                    <p class="news-card__name news-card__name--text-20">
                                        Субсидированная процентная<br> ставка 5,5% по программе<br> "Господдержка 2020"
                                    </p>

                                    <p class="news-foto__date news-card__date news-card__date--text-14">
                                        11.01.2024
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="carousel__swiper-slide swiper-slide">
                            <a id="" href="#" class="news-foto">
                                <div class="news-foto__image">
                                    <div class="image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/news/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/news/img-2.jpg" alt="project image" />
                                        </picture>
                                    </div>
                                </div>

                                <div class="news-foto__info">
                                    <p class="news-card__name news-card__name--text-20">
                                        Ипотека под 2,5%<br>
                                        для IT-специалистов
                                    </p>

                                    <p class="news-foto__date news-card__date news-card__date--text-14">
                                        11.01.2024
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="carousel__swiper-slide swiper-slide">
                            <a id="" href="#" class="news-foto">
                                <div class="news-foto__image">
                                    <div class="image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/news/img-3.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/news/img-3.jpg" alt="project image" />
                                        </picture>
                                    </div>
                                </div>

                                <div class="news-foto__info">
                                    <p class="news-card__name news-card__name--text-20">
                                        Отраженная дата 07.07 - старт<br> бронирования квартир в новом<br> ЖК
                                        «Отражение»
                                    </p>

                                    <p class="news-foto__date news-card__date news-card__date--text-14">
                                        11.01.2024
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="carousel__swiper-slide swiper-slide">
                            <a id="" href="#" class="news-foto">
                                <div class="news-foto__image">
                                    <div class="image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/news/img-1.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/news/img-1.jpg" alt="project image" />
                                        </picture>
                                    </div>
                                </div>

                                <div class="news-foto__info">
                                    <p class="news-card__name news-card__name--text-20">
                                        Субсидированная процентная<br> ставка 5,5% по программе<br> "Господдержка 2020"
                                    </p>

                                    <p class="news-foto__date news-card__date news-card__date--text-14">
                                        11.01.2024
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="carousel__swiper-slide swiper-slide">
                            <a id="" href="#" class="news-foto">
                                <div class="news-foto__image">
                                    <div class="image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/news/img-2.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/news/img-2.jpg" alt="project image" />
                                        </picture>
                                    </div>
                                </div>

                                <div class="news-foto__info">
                                    <p class="news-card__name news-card__name--text-20">
                                        Ипотека под 2,5%<br>
                                        для IT-специалистов
                                    </p>

                                    <p class="news-foto__date news-card__date news-card__date--text-14">
                                        11.01.2024
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="carousel__swiper-slide swiper-slide">
                            <a id="" href="#" class="news-foto">
                                <div class="news-foto__image">
                                    <div class="image-block">
                                        <picture>
                                            <source type="image/webp" srcset="./img/news/img-3.webp"
                                                alt="project image" />
                                            <img class="lazy" src="./img/news/img-3.jpg" alt="project image" />
                                        </picture>
                                    </div>
                                </div>

                                <div class="news-foto__info">
                                    <p class="news-card__name news-card__name--text-20">
                                        Отраженная дата 07.07 - старт<br> бронирования квартир в новом<br> ЖК
                                        «Отражение»
                                    </p>

                                    <p class="news-foto__date news-card__date news-card__date--text-14">
                                        11.01.2024
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <a href="#" class="carousel__link main-btn show-on-mobile">
                    Смотреть все
                </a>

                <a href="#mailing-modal"
                    class="carousel__mailing main-btn main-btn--icons main-btn--grey js-open-modal show-on-mobile">
                    <svg class="icon">
                        <use xlink:href="#mailing"></use>
                    </svg>
                    <span>Подписаться на рассылку</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section section--white except">
    <div class="except__site-container">
        <div class="projects__heading except__heading">
            <h2 class="projects__title projects__title--h3-text projects__title--end-dot">
                Кроме&nbsp;<span class="_thin-text">квартир</span>
            </h2>
        </div>

        <ul class="projects__list except__list">
            <li class="projects__item except__item">
                <a href="#" id="" class="except-link-icon">
                    <div class="except-link-icon__body">
                        <div class="except-link-icon__column">
                            <p class="except-link__title except-link__title--h6-text">
                                Коммерческая недвижимость
                            </p>

                            <div class="except-link-icon__btn"></div>
                        </div>
                    </div>

                    <div class="except-link-icon__image image-block">
                        <picture>
                            <img class="lazy" src="./img/excepts/machine.png" alt="excepts image" />
                        </picture>
                    </div>
                </a>
            </li>
            <li class="projects__item except__item">
                <a href="#" id="" class="except-link-icon">
                    <div class="except-link-icon__body">
                        <div class="except-link-icon__column">
                            <p class="except-link__title except-link__title--h6-text">
                                Кладовые
                            </p>

                            <div class="except-link-icon__btn"></div>
                        </div>
                    </div>

                    <div class="except-link-icon__image image-block">
                        <picture>
                            <img class="lazy" src="./img/excepts/box.png" alt="excepts image" />
                        </picture>
                    </div>
                </a>
            </li>
            <li class="projects__item except__item">
                <a href="#" id="" class="except-link-icon">
                    <div class="except-link-icon__body">
                        <div class="except-link-icon__column">
                            <p class="except-link__title except-link__title--h6-text">
                                Паркинг
                            </p>

                            <div class="except-link-icon__btn"></div>
                        </div>
                    </div>

                    <div class="except-link-icon__image image-block">
                        <picture>
                            <img class="lazy" src="./img/excepts/car.png" alt="excepts image" />
                        </picture>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

{{/content}}
{{/extend}}
