.favorite-checkbox {
    display: block;
    cursor: pointer;

    .icon {
        width: 3.4rem;
        height: 3.4rem;

        fill: none;
        fill-opacity: 0.15;
        stroke: var(--Red, #cf000c);
        stroke-opacity: 0.3;

        transition: fill 0.3s ease-out;
    }

    @include hoverActive() {
        .icon {
            fill: var(--Red, #cf000c);
            stroke: transparent;
        }
    }

    input {
        &:checked {
            ~.icon {
                fill: var(--Red, #cf000c);
                fill-opacity: 1;
            }
        }
    }

    &--button {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 4.4rem;
        height: 4.4rem;


        .icon {
            position: relative;
            z-index: 10;

            width: 1.8rem;
            height: 1.8rem;
            fill: none;
            stroke: var(--Black, #020202);
            fill-opacity: unset;
            stroke-opacity: unset;
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 5;

            width: 100%;
            height: 100%;

            background: var(--White, #FFF);
            border-radius: 0.8rem;
            border: 1px solid rgba(2, 2, 2, 0.10);

            transition: background-color 0.3s ease-out;
            content: "";
        }

        @include hoverActive() {
            span {
                border-color: var(--Red-15, rgba(207, 0, 12, 0.15));
            }

            .icon {
                stroke: var(--Red, #cf000c);
                fill: none;
            }

            input {
                &:checked {
                    &~.icon {
                        stroke: var(--Red, #cf000c);
                        fill: var(--Red, #cf000c);
                    }
                }
            }
        }

        input {
            &:checked {
                &~.icon {
                    stroke: var(--Red, #cf000c);
                    fill: var(--Red, #cf000c);
                }

                &~span {
                    background: var(--Pink-Pink, #FAE5E7);
                }
            }
        }
    }

    &--smaller {
        width: 3.2rem;
        height: 3.2rem;

        .icon {
            width: 1.44rem;
            height: 1.44rem;
        }
    }

    &--middle {
        width: 4rem;
        height: 4rem;

        .icon {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}


.flying-heart.icon {
    position: fixed;
    z-index: 3000;

    width: 1.8rem;
    height: 1.8rem;

    stroke: var(--Red, #cf000c);
    fill: var(--Red, #cf000c);
    transition: all 0.3s ease-out;
}
