.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    max-height: 5rem;
    padding: 1.6rem 3.2rem 1.6rem;

    border-radius: 0.8rem;
    white-space: nowrap;

    transition-property: all;

    @include font(1.4rem, 100%, 400);

    .icon {
        width: 1.6rem;
        height: 1.6rem;
        stroke: var(--Red, #CF000C);
    }

    @include breakpointMF(tablet) {
        max-height: 6rem;
        padding: 2.4rem 3.2rem 2.4rem;
        border-radius: 1.2rem;

        @include font(1.6rem, 100%, 400);
    }

    &--red {
        color: var(--White, #FFF);
        background-color: var(--Red, #CF000C);

        @include hoverActive() {
            background-color: var(--Dark-Red, #B7000B);
        }
    }

    &--outlined {
        color: var(--White, #FFF);
        border: 1px solid var(--White-30, rgba(255, 255, 255, 0.30));

        @include hoverActive() {
            color: var(--Black, #020202);
            background-color: var(--White, #FFF);
            border-color: transparent;
        }

        &.main-btn--red {
            color: var(--Red, #CF000C);
            background-color: var(--White, #FFF);
            border: 1px solid var(--Red, #CF000C);

            @include hoverActive() {
                color: var(--Red, #CF000C);
                background-color: #FFECEC;
            }
        }

        &.main-btn--outlined-dark {
            color: var(--Dark-Blue, #101038);
            border: 1px solid var(--Dark-Blue, #101038);


            @include hoverActive() {
                color: var(--White, #FFF);
                background-color: var(--Dark-Blue, #101038);
                border-color: transparent;
            }
        }
    }

    &--white {
        color: var(--Black, #020202);
        background-color: var(--White, #FFF);

        @include hoverActive() {
            color: var(--Red, #CF000C);
            background-color: var(--Pink, #FAE5E7);
        }
    }

    &--icons {
        display: flex;
        gap: 0.8rem;
    }

    &--grey {
        min-width: 28rem;
        padding-right: 2.6rem;
        padding-left: 2.6rem;

        background: var(--Light-Grey, #F5F5F5);

        @include hoverActive() {
            color: var(--Red, #CF000C);
            background-color: var(--Pink, #FAE5E7);
        }
    }

    &--smaller {
        padding: 1.6rem 1.6rem;

        @include breakpointMF(tablet) {
            max-height: 5.5rem;
            padding: 2.4rem 3.2rem 2.4rem;
            border-radius: 1.2rem;

            @include font(1.6rem, 100%, 400);
        }
    }

    &--bigger {
        @include breakpointMF(tablet) {
            height: 7rem;
            max-height: 7rem;
            padding: 2.4rem 3.2rem 2.4rem;
            border-radius: 1.2rem;

            @include font(1.6rem, 100%, 400);
        }
    }

    &--disabled,
    &:disabled {
        color: var(--Black-30, rgba(2, 2, 2, 0.30));
        background-color: var(--White, #FFF);
        pointer-events: none;
    }
}
