.simple-range {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__label {
        margin-bottom: 0.8rem;

        color: var(--White-60, rgba(255, 255, 255, 0.6));
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;

        @include breakpointMF(tablet) {
			margin-bottom: 1.6rem;

			font-size: 1.4rem;
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
        }
    }

    &__values {
        position: relative;

        display: flex;
        justify-content: space-between;
    }

    &__input-percentege {
        position: absolute;
        top: 50%;
        right: 2.4rem;
        transform: translateY(-50%);
        pointer-events: none;
        opacity: 0.6;
    }

    &__input-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 3;

        width: calc(100% - (2.4rem * 2));
        transform: translateX(-50%);
    }
}

.simple-range--pink  {
	input[type=range].styled-slider::-webkit-slider-thumb {
		background: var(--Pink-2, #FFC0C2);
	}

	input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
		background: linear-gradient(var(--Pink-2, #FFC0C2), var(--Pink-2, #FFC0C2)) 0/var(--sx) 100% no-repeat, transparent;
	}

	input[type=range].styled-slider::-moz-range-thumb {
		background: var(--Pink-2, #FFC0C2);
	}

	input[type=range].styled-slider.slider-progress::-moz-range-track {
		background: linear-gradient(var(--Pink-2, #FFC0C2), var(--Pink-2, #FFC0C2)) 0/var(--sx) 100% no-repeat, transparent;
	}

	input[type=range].styled-slider::-ms-thumb {
		background: var(--Pink-2, #FFC0C2);
	}

	input[type=range].styled-slider.slider-progress::-ms-fill-lower {
		background: var(--Pink-2, #FFC0C2);
	}
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
	height: 2px;
	-webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--value) - var(--min)) / var(--range));
	--sx: calc(0.5 * 13px + var(--ratio) * (100% - 13px));
}

input[type=range].styled-slider:focus {
  	outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: var(--Red, #CF000C);
	border: none;
	box-shadow: 0 0 #FFFFFF;
	margin-top: calc(2px * 0.5 - 13px * 0.5);
	cursor: pointer;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
	height: 2px;
	border: none;
	border-radius: 0.5em;
	background: transparent;
	box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  	background: linear-gradient(var(--Red, #CF000C), var(--Red, #CF000C)) 0/var(--sx) 100% no-repeat, transparent;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: var(--Red, #CF000C);
	border: none;
	box-shadow: 0 0  #FFFFFF;
	cursor: pointer;
}

input[type=range].styled-slider::-moz-range-track {
	height: 2px;
	border: none;
	border-radius: 0.5em;
	background: transparent;
	box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  	background: linear-gradient(var(--Red, #CF000C), var(--Red, #CF000C)) 0/var(--sx) 100% no-repeat, transparent;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
	background: transparent;
	border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
	background: transparent;
	border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: var(--Red, #CF000C);
	border: none;
	box-shadow: 0 0 #FFFFFF;
	margin-top: 0;
	box-sizing: border-box;
	cursor: pointer;
}

input[type=range].styled-slider::-ms-track {
	height: 2px;
	border-radius: 0.5em;
	background: transparent;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: 2px;
  border-radius: 0.5em 0 0 0.5em;
  margin: -undefined 0 -undefined -undefined;
  background: var(--Red, #CF000C);
  border: none;
  border-right-width: 0;
}
