.about {
    &__filter {
        margin-bottom: 9.4rem;
    }

    &__heading {
        display: grid;
        grid-template-areas:
            "about-big-text"
            "about-small-text"
            "about-download";

        grid-template-columns: 100%;
        row-gap: 2rem;
        margin-bottom: 2.8rem;

        @include breakpointMF(tablet) {
            grid-template-areas:
                "about-big-text about-small-text"
                "about-download about-small-text";
            grid-template-columns: repeat(2, 1fr);
            row-gap: 3rem;
            margin-bottom: 7rem;
        }
    }

    &__heading-big-text {
        grid-area: about-big-text;
        max-width: 64rem;
    }

    &__heading-small-text {
        grid-area: about-small-text;
        padding-left: 1.2rem;
        font-feature-settings: 'clig' off, 'liga' off;
        line-height: 150%;
    }

    &__download-link {
        grid-area: about-download;
        padding-top: 0.8rem;

        @include breakpointMF(tablet) {
            padding-top: unset;
        }
    }

    &__advantages,
    &__video-block {
        aspect-ratio: 1.5 / 1;
    }

    &__advantages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.8rem;

        @include breakpointMF(tablet) {
            gap: calc(var(--gap, 0.4rem) * 6);
        }
    }

    &__demo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        gap: 0.8rem;

        @include breakpointMF(tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            align-items: stretch;
            gap: calc(var(--gap, 0.4rem) * 6);
        }
    }
}
