.acco-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__link,
    &__title,
    &__label {
        line-height: 130%;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        cursor: pointer;

        .icon {
            width: 1.4rem;
            height: 1.4rem;
            transition: transform 0.3s ease-out;
        }

        @include breakpointMF(tablet) {
            display: none;
        }
    }

    &__title {
        display: none;

        @include breakpointMF(tablet) {
            display: block;
        }
    }

    &__list {
        display: none;
        flex-direction: column;
        align-items: stretch;
        gap: calc(var(--gap, 0.4rem) * 4);

        margin-top: 2.4rem;

        @include breakpointMF(tablet) {
            display: flex;
            gap: calc(var(--gap, 0.4rem) * 2);
            margin-top: 2rem;
        }
    }

    &__link {
        line-height: 100%;
    }

    input {
        &:checked {
            &~.acco-menu__label {
                .icon {
                    transform: rotate(180deg);
                }
            }

            &~.acco-menu__list {
                display: flex;
            }
        }
    }
}
