.filters {
    position: relative;
    z-index: 500;

    padding: calc(var(--gap) * 6) 0 ;
    color: inherit;

    &__row {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        width: 100%;

        @include breakpointMF(tablet) {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
        gap: 2rem;

        @include breakpointMF(tablet) {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            gap: calc(var(--gap) * 6);
        }
    }

    &__field {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &--flex-g0 {
            flex-grow: 0;
        }

        &--select {
            order: 4;
            width: 100%;

            @include breakpointMF(tablet) {
                order: 0;
                width: 25rem;
            }
        }

        &--ranges {
            padding-bottom: 0.5rem;

            @include breakpointMF(tablet) {
                padding-bottom: 0;
            }
        }
    }
}


.filter__extended-search {
    & > span {
        &:nth-child(1) {
            display: inline;
        }

        &:nth-child(2) {
            display: none;
        }
    }

    .extended-search-open & {
        & > span {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                display: inline;
            }
        }
    }
}

.filters__submit {
    &.main-btn {
        flex-shrink: 0;
        width: 100%;
        margin-top: 2rem;

        @include breakpointMF(tablet) {
            width: 24.7rem;
            margin-top: unset;
            margin-left: 1.5rem;
            padding: 2.4rem;

            white-space: nowrap;
        }
    }
}

.filters__bottom-row {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 0.6rem;

    @include breakpoint(mobile) {
        // flex-direction: column;
        // align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;
        margin-top: 1rem;
    }
}

.filter__extended-search {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    svg {
        flex-shrink: 0;
        width: 1rem;
        height: 0.5rem;
        fill: currentColor;
        margin-top: 0.2rem;
        transition: transform 0.2s;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .extended-search-open & {
        svg {
            transform: rotate(180deg);
        }
    }
}

.filters__reset-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #c0cada;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
    svg {
        flex-shrink: 0;
        width: 0.8rem;
        height: 0.8rem;
        fill: currentColor;
        margin-top: 0.2rem;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.filters__checkboxes {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 3rem;

    @include breakpoint(mobile) {
        margin: 0;
        gap: 2rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

.filters__checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 125%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.filters__checkbox-input {
    display: none;
}

.filters__checkbox-mark {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 0.1rem solid #c0cada;
    border-radius: 0.3rem;

    &::before {
        content: '';
        width: 1rem;
        height: 1rem;
        background-color: var(--primary-color);
        border-radius: 0.2rem;
        transition: opacity 0.2s;
        opacity: 0;
    }
}

.filters__checkbox-input:checked ~ .filters__checkbox-mark {
    &::before {
        opacity: 1;
    }
}

.filters__form {
    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

.filters__row {
    @include breakpoint(mobile) {
        display: contents;
    }
}

.filters__submit {
    @include breakpoint(mobile) {
        order: 10;
        margin-top: 1rem;
    }
}
