.home-slider {
    position: relative;
    width: 100%;
    height: 100%;

    // swiper image:
    &__image-swiper-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    &__info-swiper,
    &__image-swiper {
        &.swiper {
            height: 100%;
        }
    }

    &__image-swiper {
        &.swiper {
            .swiper-pagination {
                &.swiper-pagination-bullets-dynamic {
                    .swiper-pagination-bullet {
                        &.swiper-pagination-bullet-active-prev,
                        &.swiper-pagination-bullet-active-next {
                            transform: scale(.8);
                        }
                    }
                }

                @include breakpointMF(tablet) {
                    --swiper-pagination-bottom: 76px;
                }
            }
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 100;

            height: 50%;

            opacity: 0.6;
            background: linear-gradient(to top, rgba(0, 20, 122, 0.00) 0%, rgba(0, 20, 122, 0.50) 64.03%);
            mix-blend-mode: multiply;
            content: "";
        }
    }

    &__body {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 100%;
        cursor: none;
    }

    &__hover-controls {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: stretch;

    }

    &__hover-control {
        flex-grow: 1;
        cursor: none;
    }

    // swiper info:
    &--small {
        .home-slider__info-swiper-slide {
            grid-template-areas:
                "g_heading"
                "g_tabs"
                "g_link"
                "g_button";

            @include breakpointMF(tablet) {
                grid-template-areas:
                    "g_heading g_link"
                    "g_tabs g_link"
                    "g_button g_button";
                padding: 4rem;
            }
        }

        .home-slider__text {
            margin-top: 2rem;
            @include font(1.4rem, 120%, 400);
            letter-spacing: -0.048em;

            @include breakpointMF(tablet) {
                @include font(1.6rem, 115%, 400);
            }
        }

        .home-slider__tabs {
            align-self: flex-start;
            margin-left: unset;
        }

        .home-slider__btn {
            align-self: flex-end;
        }

        .home-slider__dom-link {
            margin-left: auto;
            align-self: start;
        }

        .home-slider__swiper-btn {
            top: unset;
            bottom: 6.4rem;
            right: 7.5rem;
        }

        .home-slider__image-swiper {
            &.swiper {
                .swiper-pagination {
                    @include breakpointMF(tablet) {
                        left: unset;
                        transform: unset;
                        right: 4rem;
                        margin-left: auto;
                    }
                }
            }
        }
    }

    &__pagination {
        position: absolute;

        .swiper-pagination {
            flex-grow: 1;
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: unset !important;
        }

        .swiper-pagination-bullets-dynamic {
            overflow: visible;
        }

        .swiper-pagination-bullet {
            display: block;
            width: 8px;
            height: 8px;
            flex-shrink: 0;
            background-color: rgba($color: #37393e, $alpha: 0.5);
            transition: all 0.3s ease-out;
            border-radius: 4px;
        }

        .swiper-pagination-bullet-active {
            width: 24px;
            background-color: rgba($color: #37393e, $alpha: 1);
        }
    }

    &__info-swiper-slide {
        display: grid;
        grid-template-areas:
            "g_heading"
            "g_tabs"
            "g_link"
            "g_button";
        grid-template-rows: max-content 1fr max-content max-content;
        gap: 2rem;

        padding: 3.2rem 2rem 4.8rem;

        color: var(--White, #fff);

        @include breakpointMF(tablet) {
            align-content: unset;
            grid-template-rows: max-content;
            grid-template-areas:
            "g_heading g_tabs"
            "g_button g_link";
            gap: 2.4rem;
            padding: 5rem;
        }
    }

    &__info-heading {
        grid-area: g_heading;
    }

    &__text {
        max-width: 40ch;
        margin-top: 2rem;
        @include font(1.4rem, 120%, 400);
        font-feature-settings: 'clig' off, 'liga' off;

        @include breakpointMF(tablet) {
            margin-top: 3.2rem;
            @include font(2.4rem, 130%, 400);
        }
    }

    &__tabs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.4rem;

        grid-area: g_tabs;
        align-self: flex-start;

        @include breakpointMF(tablet) {
            gap: 0.6rem;
            margin-left: auto;
        }

        &.home-slider__tabs--wrap {
            @include breakpointMF(tablet) {
                max-width: 28rem;
            }
        }
    }

    &__btn {
        min-width: 100%;
        max-width: 100%;

        grid-area: g_button;
        align-self: flex-end;
        cursor: pointer;

        @include breakpointMF(tablet) {
            min-width: 18rem;
        }

        &.home-slider__number-pagination {
            min-width: unset;
            justify-self: flex-end;
        }
    }

    &__dom-link {
        grid-area: g_link;
        align-self: flex-end;
        margin-top: 1.4rem;
        margin-left: auto;
    }

    &__swiper-btn {
        &--pos {
            bottom: 6.4rem;
            right: 6.4rem;
            transform: unset;
        }

        @include breakpoint(small-tablet) {
            @include visuallyHidden();
        }
    }


    &__address {
        margin-bottom: 2.8rem;
    }

    &__site-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
    }

    &--fullscreen {
        @extend ._header-padding-top;

        .home-slider__info-swiper-slide {
            flex-grow: 1;

            grid-template-areas:
                "g_heading"
                "g_tabs"
                "g_button";
            gap: 4.4rem;

            padding: 15rem 0 8.4rem;
        }
    }

    &:not(.home-slider--small) {
        .home-slider__swiper-btn {
            @include breakpointMF(tablet) {
                top: 40rem;
                left: calc(100% - 14rem);
            }
        }
    }
}

.cursor {
    position: absolute;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 10rem;
    height: 10rem;

    border-radius: 100%;
    border: 1.5px solid var(--White, #FFF);
    pointer-events: none;

    transform: translate(-50%, -50%);

    .icon {
        width: 3.2rem;
        height: 2rem;
        flex-shrink: 0;

        transition: 0.4s ease;
    }

    &--turn {
        .icon {
            transform: rotate(-180deg);
        }
    }
}

.number-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.4rem;

    width: 7rem;
    height: 7rem;

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    border-radius: 100%;

    .swiper-pagination-total,
    .swiper-pagination-current {
        @include font(1.6rem, 130%, 400);
        letter-spacing: -0.064em;
    }
}
