.home {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.home--fillscreen-project {
        position: relative;
        height: 100dvh;
    }

    @include breakpointMF(tablet) {
        height: auto;
    }

    &__site-container {
        flex-grow: 1;
    }

    &__grid-block {
        width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 55rem;

        &:has(.link-block--big){
            min-height: unset;
            aspect-ratio: unset;
        }

        @include breakpointMF(tablet) {
            height: auto;
            aspect-ratio: 2.1 / 1;
        }

        &--full-width {
            &.grid-block--decrease {
                grid-template-columns: 100%
            }

            .grid-block__big-part {
                column-span: 1 / 2;
            }
        }

        &.grid-block {
            @include breakpoint(tablet) {
                grid-template-columns: 100%;
                grid-template-rows: auto;
                gap: 0;

                .grid-block__small-part {
                    display: none;
                }
            }
        }

        &.home__grid-block--full-height {
            height: calc(100% - 1.6rem);
            margin-top: auto;

            @include breakpointMF(tablet) {
                height: 100%;
                aspect-ratio: unset;
            }
        }
    }

    &__big-part {
        height: 100%;

        @extend ._border-20;
        overflow: hidden;
        background-color: var(--Light-Grey);

        @include breakpointMF(tablet) {
            height: auto;
        }
    }

    &__small-part {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: calc(var(--gap, 0.4rem) * 6);
    }

    &__link-block {
        flex: 1 1 100%
    }

    &__filter {
        margin-top: 6rem;

        @include breakpointMF(tablet) {
            margin-top: 8rem;
        }
    }

    &__double-links {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc(var(--gap, 0.4rem) * 6);
    }
}
