.link-block {
    width: 100%;
    overflow: hidden;
    display: block;
    @extend ._border-20;

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        height: 100%;
        padding: 2.4rem;

        @include breakpointMF(tablet) {
            padding: 3.2rem;
        }
    }

    &__title {
        display: inline-flex;
        align-items: baseline;
        width: min-content;

        &--inline {
            display: inline-block;

            @include breakpointMF(tablet) {
                width: 19ch;
            }
        }
    }

    &__text {
        margin-top: 1.2rem;
        opacity: 0;
        @include font(1.4rem, 130%, 400);
        transition: opacity 0.3s ease-out;
    }

    &__arrow-btn {
        position: relative;
        z-index: 200;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &__btn {
        position: absolute;
        left: 3.2rem;
        bottom: 3.2rem;
        z-index: 10;

        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 100;

        height: 70%;
        aspect-ratio: 1.1 / 1;

        img {
            display: block;
            width: 100%;
            max-width: unset;

            object-fit: cover;
            object-position: center;
        }
    }

    &__grey-text {
        color: rgba(255, 255, 255, 0.50);
    }

    &__swiper.swiper {
        height: 100%;

        .swiper-pagination {

            &.swiper-pagination-bullets-dynamic {
                .swiper-pagination-bullet {
                    &.swiper-pagination-bullet-active-prev,
                    &.swiper-pagination-bullet-active-next {
                        transform: scale(.8);
                    }
                }
            }

            @include breakpointMF(tablet) {
                --swiper-pagination-bottom: 5.2rem;
            }
        }
    }

    &__desc {
        margin-top: 2rem;
        line-height: 140%;
        letter-spacing: -0.0078em;

        @include breakpointMF(tablet) {
            max-width: 64rem;
            margin-top: 2.4rem;
        }
    }

    &__decore-image {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;

        z-index: 100;

        aspect-ratio: 1.38 / 1;

        @include breakpointMF(tablet) {
            top: 4rem;
            left: unset;
            bottom: 5;
            right: 7.8rem;
        }

        img {
            display: block;
            width: 100%;

            object-fit: cover;
            object-position: center;

        }
    }

    &--pink {
        position: relative;

        color: var(--Red, #CF000C);
        border: 1px solid rgba(207, 0, 12, 0.10);
        background-color: #FFF3F3;

        &::before {
            position: absolute;
            bottom: -13%;
            right: -16%;

            height: 121%;
            aspect-ratio: 1.06 / 1;

            background-image: url("data:image/svg+xml, %3Csvg%20width%3D%22520%22%20height%3D%22491%22%20viewBox%3D%220%200%20520%20491%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20opacity%3D%220.5%22%20d%3D%22M38.8342%2096.0136H115.578C119.414%2096.0136%20122.709%2093.2913%20123.434%2089.5248L139.408%206.48877C140.132%202.72226%20143.428%200%20147.263%200L261.207%200C266.231%200%20270.012%204.57729%20269.063%209.51124L254.252%2086.5023C253.303%2091.4363%20257.084%2096.0136%20262.108%2096.0136H318.715C322.565%2096.0136%20325.869%2093.2714%20326.578%2089.4874L342.128%206.52618C342.838%202.74217%20346.141%200%20349.991%200L463.903%200C468.927%200%20472.708%204.5773%20471.759%209.51124L456.948%2086.5023C455.999%2091.4363%20459.78%2096.0136%20464.804%2096.0136H511.778C516.282%2096.0136%20519.898%2099.7304%20519.775%20104.233L517.372%20191.851C517.253%20196.183%20513.708%20199.632%20509.375%20199.632H441.351C437.52%20199.632%20434.227%20202.348%20433.498%20206.108L419.079%20280.418C418.121%20285.356%20421.903%20289.942%20426.933%20289.942H475.312C479.816%20289.942%20483.432%20293.658%20483.309%20298.16L480.905%20386.254C480.786%20390.586%20477.241%20394.036%20472.908%20394.036H403.487C399.646%20394.036%20396.347%20396.766%20395.628%20400.539L379.636%20484.497C378.917%20488.27%20375.618%20491%20371.777%20491H257.828C252.81%20491%20249.03%20486.433%20249.969%20481.503L264.821%20403.533C265.76%20398.603%20261.981%20394.036%20256.963%20394.036H200.318C196.477%20394.036%20193.178%20396.766%20192.459%20400.539L176.466%20484.497C175.748%20488.27%20172.449%20491%20168.608%20491H55.6058C50.5873%20491%2046.808%20486.433%2047.7471%20481.503L62.599%20403.533C63.5381%20398.603%2059.7588%20394.036%2054.7403%20394.036H8.22137C3.71759%20394.036%200.101444%20390.32%200.224341%20385.818L2.62911%20297.724C2.74735%20293.392%206.29287%20289.942%2010.6261%20289.942H77.7018C81.5325%20289.942%2084.8256%20287.226%2085.5553%20283.466L99.9736%20209.156C100.932%20204.218%2097.1497%20199.632%2092.1201%20199.632H44.6887C40.1845%20199.632%2036.5682%20195.915%2036.6917%20191.413L39.2949%2096.487C39.302%2096.2276%2039.0937%2096.0136%2038.8342%2096.0136V96.0136ZM216.383%20280.893C215.425%20285.831%20219.207%20290.417%20224.237%20290.417H280.871C284.702%20290.417%20287.995%20287.702%20288.725%20283.941L303.143%20209.631C304.101%20204.694%20300.319%20200.107%20295.289%20200.107H238.655C234.825%20200.107%20231.531%20202.823%20230.802%20206.584L216.383%20280.893Z%22%20fill%3D%22url(%23paint0_linear_1654_79659)%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_1654_79659%22%20x1%3D%22330.435%22%20y1%3D%22484.965%22%20x2%3D%22219.986%22%20y2%3D%220.00470043%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20offset%3D%220.348984%22%20stop-color%3D%22%23F40007%22%20stop-opacity%3D%220%22%2F%3E%0A%3Cstop%20offset%3D%220.989096%22%20stop-color%3D%22%23F40007%22%20stop-opacity%3D%220.22%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            pointer-events: none;
            content: "";
        }

        .link-block__tab,
        .link-block__text {
            display: none;
        }

        @include hoverActive() {
            .link-block__arrow-btn {
                opacity: 1;
            }
        }
    }

    &--white {
        color: var(--White, #FFF);
        background: linear-gradient(180deg, #457DE5 0%, #C0D9F3 46.29%);

        &::before {
            content: none;
        }

        .link-block__image {
            left: 0;
            height: 60%;
            width: 100%;
        }
    }

    &--blue {
        position: relative;
        color: var(--White, #FFF);
        background-color: var(--Blue, #212173);

        &::before {
            position: absolute;
            top: 50%;
            right: -12%;

            height: 78%;
            aspect-ratio: 1.7 / 1;

            background-image: url("data:image/svg+xml, %3Csvg%20width%3D%22490%22%20height%3D%22287%22%20viewBox%3D%220%200%20490%20287%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20opacity%3D%220.6%22%3E%0A%3Cpath%20d%3D%22M356.059%20167.01L356.046%20167.661L356.632%20167.378L360.429%20165.548L360.65%20165.442L360.655%20165.196L361.358%20129.825L361.371%20129.174L360.785%20129.457L356.988%20131.287L356.767%20131.394L356.762%20131.639L356.059%20167.01ZM343.283%20153.314L343.287%20153.315C345.457%20154.058%20347.644%20153.895%20349.823%20152.845C352.003%20151.794%20353.486%20150.188%20354.244%20148.032L354.244%20148.032C355.005%20145.863%20354.886%20143.73%20353.887%20141.658C352.889%20139.587%20351.298%20138.172%20349.133%20137.43C346.969%20136.667%20344.785%20136.82%20342.605%20137.87C340.424%20138.921%20338.938%20140.538%20338.174%20142.713C337.419%20144.863%20337.542%20146.986%20338.541%20149.056C339.539%20151.127%20341.125%20152.552%20343.283%20153.314ZM368.272%20159.434L368.276%20159.436C370.446%20160.178%20372.633%20160.015%20374.812%20158.965C376.992%20157.914%20378.475%20156.308%20379.233%20154.152L379.233%20154.152C379.994%20151.983%20379.875%20149.851%20378.876%20147.779C377.878%20145.707%20376.287%20144.292%20374.122%20143.55C371.958%20142.787%20369.774%20142.94%20367.594%20143.991C365.413%20145.042%20363.927%20146.659%20363.163%20148.833C362.408%20150.983%20362.531%20153.106%20363.53%20155.177C364.528%20157.248%20366.114%20158.673%20368.272%20159.434ZM342.798%20147.004C342.325%20146.022%20342.236%20145.019%20342.531%20143.974C342.819%20142.95%20343.453%20142.203%20344.459%20141.718C345.466%20141.233%20346.445%20141.202%20347.426%20141.614C348.426%20142.035%20349.157%20142.729%20349.63%20143.711C350.103%20144.692%20350.192%20145.696%20349.897%20146.741C349.608%20147.765%20348.975%20148.512%20347.968%20148.997C346.962%20149.482%20345.983%20149.513%20345.002%20149.101C344.001%20148.68%20343.271%20147.986%20342.798%20147.004ZM367.787%20153.125C367.314%20152.143%20367.225%20151.139%20367.52%20150.094C367.808%20149.07%20368.442%20148.323%20369.448%20147.838C370.455%20147.353%20371.434%20147.323%20372.415%20147.735C373.415%20148.155%20374.146%20148.849%20374.619%20149.831C375.092%20150.813%20375.181%20151.817%20374.886%20152.861C374.597%20153.885%20373.964%20154.632%20372.957%20155.117C371.951%20155.603%20370.972%20155.633%20369.991%20155.221C368.991%20154.801%20368.26%20154.106%20367.787%20153.125Z%22%20stroke%3D%22white%22%20stroke-width%3D%220.8%22%2F%3E%0A%3Cpath%20d%3D%22M251.612%20167.199L262.176%20187.871L310.526%2049.521L445.994%2096.8634L433.736%2076.4082L299.709%2029.5695L251.612%20167.199Z%22%20stroke%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M276.745%20148.489L327.37%20253.508L456.699%20191.164L404.667%2083.2281%22%20stroke%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M85.6506%2073.7587L11.1223%20128.205C6.80781%20131.357%203.93391%20136.104%203.14146%20141.388L2.99841%20142.342C1.44693%20152.687%208.21788%20162.452%2018.4505%20164.627V164.627C23.3337%20165.665%2028.4287%20164.818%2032.7137%20162.256L34.4819%20161.199C39.619%20158.128%2043.1108%20152.918%2043.9984%20146.999L46.0686%20133.195L66.5907%20136.273L69.6289%20116.014L91.2035%20119.249L109.962%20105.383%22%20stroke%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M109.437%20105.653C118.927%20110.806%20129.893%20112.561%20140.517%20110.626C151.142%20108.692%20160.786%20103.184%20167.85%2095.0169C174.915%2086.8495%20178.976%2076.5129%20179.361%2065.7208C179.745%2054.9287%20176.429%2044.3294%20169.963%2035.6803C163.497%2027.0312%20154.269%2020.8518%20143.809%2018.1667C133.349%2015.4816%20122.286%2016.4521%20112.454%2020.9172C102.621%2025.3823%2094.6098%2033.0739%2089.7482%2042.7166C84.8867%2052.3594%2083.4668%2063.374%2085.7241%2073.9344%22%20stroke%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%2212.1987%22%20cy%3D%2212.1987%22%20r%3D%2211.6987%22%20transform%3D%22matrix(-0.14831%200.988941%200.988941%200.14831%20132.456%2041.7872)%22%20stroke%3D%22white%22%2F%3E%0A%3Cpath%20opacity%3D%220.5%22%20d%3D%22M152.977%2051.3623C167.785%2027.6868%20196.913%20-4.60762%20220.518%2037.2452C242.911%2076.9494%20262.053%2051.3622%20278.306%2029.3045C284.085%2021.4617%20293.62%2024.3636%20299.977%2029.3045%22%20stroke%3D%22white%22%20stroke-dasharray%3D%226%206%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            transform: translateY(-50%);

            pointer-events: none;
            content: "";
        }

        .link-block__arrow-btn {
            display: none;
        }

        @include hoverActive() {
            .link-block__text {
                opacity: 0.5;
            }

            .link-block__tab {
                visibility: hidden;
            }

            .link-block__btn {
                opacity: 1;
            }
        }
    }

    &--big {
        position: relative;
        aspect-ratio: 0.74 / 1;
        color: var(--White, #FFF);
        background-color: var(--Blue, #212173);

        @include breakpointMF(tablet) {
            aspect-ratio: 2.78 / 1;
        }

        .link-block__body {
            position: relative;
            width: 100%;

            padding: 2.4rem 2rem;

            @include breakpointMF(tablet) {
                padding: 7rem 5rem 5.2rem;
            }
        }

        .link-block__btn {
            position: static;
            min-width: 20rem;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &--image {
        position: relative;
        color: var(--White, #FFF);

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 100;

            height: 50%;

            opacity: 0.6;

            background: linear-gradient(to top, rgba(23, 56, 223, 0.00) 0%, rgba(0, 20, 122, 0.44) 67.91%);
            mix-blend-mode: plus-darker;
            content: "";
        }

        .link-block__heading {
            position: relative;
            z-index: 200;
        }

        .link-block__arrow-btn {
            display: none;
        }

        .link-block__text {
            opacity: 1;
            max-width: 20ch;

            @include breakpointMF(tablet) {
                max-width: 30ch;
            }
        }

        .link-block__image {
            left: 0;
            height: 100%;
            width: 100%;

            img {
                display: block;
                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
