.location-section {
    position: relative;

    &__site-container {
        width: 100%;
        aspect-ratio: 2 / 1;
    }

    &__map-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @extend ._border-16;
    }

    &__map {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;

        background-color: #ccc;

        &[data-class="midschool"] {
            .ya-secondary-placemark {
                &:not([data-placemark="midschool"]) {
                    opacity: 0 !important;
                    pointer-events: none !important;
                }
            }
        }

        &[data-class="playschool"] {
            .ya-secondary-placemark {
                &:not([data-placemark="playschool"]) {
                    opacity: 0 !important;
                    pointer-events: none !important;
                }
            }
        }

        &[data-class="playschool"] {
            .ya-secondary-placemark {
                &:not([data-placemark="playschool"]) {
                    opacity: 0 !important;
                    pointer-events: none !important;
                }
            }
        }

        &[data-class="meds"] {
            .ya-secondary-placemark {
                &:not([data-placemark="meds"]) {
                    opacity: 0 !important;
                    pointer-events: none !important;
                }
            }
        }

        &[data-class="markets"] {
            .ya-secondary-placemark {
                &:not([data-placemark="markets"]) {
                    opacity: 0 !important;
                    pointer-events: none !important;
                }
            }
        }
    }

    &__nav-panel {
        position: absolute;
        top: 3rem;
        left: 3rem;
        bottom: 3rem;
        z-index: 2000;

    }

    &__nav-body {
        width: 100%;
        height: 100%;
        padding: 4rem;

        background: var(--White, #FFF);
        @extend ._border-16;
    }

    &__nav-title {
        margin-bottom: 3.2rem;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.6rem;
            min-width: 40rem;
            padding: 1rem 0;
        }
    }

    &__nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 4rem;
        height: 4rem;

        border-radius: 100%;

        .icon {
            width: 1.6rem;
            height: 1.6rem;
        }

        &:not(.location-section__nav-icon--red) {
            border: 0.871px solid var(--Red-Red-5, rgba(207, 0, 12, 0.05));
            background: var(--Red-5, rgba(207, 0, 12, 0.05));

            .icon {
               fill: var(--Red);
            }
        }

        &.location-section__nav-icon--red {
            background: var(--Red, #CF000C);
        }
    }

    &__nav-name {
        margin-right: auto;
    }

    &__nav-count {
        opacity: 0.4;
    }
}
