.logo {
    display: flex;
    align-items: center;

    .icon {
        width: 16.4rem;
        height: 1.4rem;
        fill: var(--Black, #020202);

        @include breakpointMF(tablet) {
            width: 19.1rem;
            height: 1.6rem;
        }
    }

    &.page-footer__logo {
        .icon {
            width: 16.4rem;
            height: 1.4rem;
            fill: var(--White, #fff);
            transition: 0.3s ease-out;

            @include breakpointMF(tablet) {
                width: 21.4rem;
                height: 1.8rem;
            }
        }

        @include hoverActive() {
            .icon {
                fill: var(--Light-blue, #a5d9ff);
            }
        }
    }
}
