.mobile-navigation {
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2100;

    display: none;

    @include breakpointMF(tablet) {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        padding: 0 4rem 1.6rem;

        background: var(--White, #fff);
        box-shadow: 0px -6px 100px 0px rgba(0, 0, 0, 0.07);
    }

    &__link {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.7rem;

        opacity: 0.6;

        .icon {
            width: 2.4rem;
            height: 2.4rem;
        }

        span {
            display: block;
            margin-top: 0.6rem;
            color: var(--Black, #181823);
            @include font(1rem, 120%, 400);
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            width: 100%;
            height: 2px;

            border-radius: 0px 0px 4px 4px;
            background-color: var(--Red, #F40007);
            content: none;
        }

        &--active {
            opacity: 1;

            &::after {
                content: "";
            }
        }
    }

    &.mobile-navigation--is-open {
        display: block;

        @include breakpointMF(tablet) {
            display: none;
        }
    }
}
