.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3500;

    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: var(--Black-30, rgba(2, 2, 2, 0.3));

    &.active {
        display: flex;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__inner-wrapper {
        position: relative;
        width: 100%;
        max-width: calc(100% - 4rem);
        margin: auto;

        padding-top: 6rem;

        @include breakpointMF(tablet) {
            max-width: 64rem;
            padding-top: 0;
            padding-right: 7.2rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        overflow: hidden;
        background: var(--White, #FFF);
        @extend ._border-24;
    }

    &__image {
        position: relative;
        width: 100%;
        aspect-ratio: 1.9 / 1;
        background-color: lightgray;

        img {
            @include centeredAbsolute();

            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__form {
        padding: 2rem 1.6rem;

        @include breakpointMF(tablet) {
            padding: 3.2rem 3rem;
        }
    }

    &__heading {
        margin-bottom: 2.4rem;

        @include breakpointMF(tablet) {
            margin-bottom: 4rem;
        }
    }

    &__title {
        margin-bottom: 1.6rem;
        line-height: 100%;
    }

    &__text {
        opacity: 0.6;
    }

    &__inputs-col {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.6rem;
    }

    &__sumbit.main-btn {
        width: 100%;
    }

    &.modal--big {

        @include breakpointMF(tablet) {
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-end;
        }

        &.active {
            .modal__inner-wrapper {
                animation: slideFromBottom 0.3s ease-out 0s 1 forwards;
            }
        }

        .modal__inner-wrapper {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            width: 100%;
            height: 100%;
            padding: unset;
            max-width: unset;
            margin: 0 auto;

            @include breakpointMF(tablet) {
                width: calc(100% - 12rem);
                max-width: 156rem;
                height: calc(100% - 14.5rem);
            }
        }

        .modal__body {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            flex-grow: 1;
            padding-inline: 6rem;

            color: var(--Black, #020202);
            border-radius: 2rem 2rem 0 0;

            @include breakpoint(small-tablet) {
                padding-inline: 2rem;
                border-radius: 0;
            }
        }
    }

    &__l-footer {
        display: flex;
        align-items: center;
        flex: 0 0 9rem;

        margin-inline: -2rem;
        padding-inline: 2rem;

        background-color: var(--White, #FFF);
        border-top: 1px solid var(--Black-Black-10, rgba(2, 2, 2, 0.10));

        @include breakpointMF(tablet) {
            flex: 0 0 12rem;
            margin-inline: -6rem;
            padding-inline: 6rem;
        }
    }

    &__l-change-window {
        flex-grow: 1;
        overflow: hidden;
    }

    &__l-change-item {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        height: 100%;
        max-height: 100%;
    }

    &__l-main {
        flex-grow: 1;
        overflow: auto;

        @include breakpointMF(tablet) {

            &::-webkit-scrollbar {
                background-color: white;
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--Black-10);
                width: 4px;
            }

            &::-webkit-scrollbar-button {
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: white;
            }
        }
    }

    &__l-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2.8rem;

        padding-top: 2rem;
        margin-bottom: 2rem;

        @include breakpointMF(tablet) {
            padding-top: 6rem;
            margin-bottom: 3.2rem;
        }
    }

    &__mortgage-name {
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.05em;

        @include breakpointMF(tablet) {
            font-size: 5.4rem;
            letter-spacing: -0.03em;
        }
    }


    &__article {
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 2rem;
        }

        @include breakpointMF(tablet) {
            margin-bottom: 8rem;

            &:last-child {
                margin-bottom: 4rem ;
            }
        }
    }
}

body {
    &.modal-open {
        &:has(.modal--mortgage.active) {
            .page-main {
                position: relative;
                z-index: 2000;
            }

            .mortgage-plans__navigation {
                position: fixed;
                left: 50%;
                bottom: 0;
                z-index: 4000;

                display: flex;
                align-items: center;
                width: 100%;
                height: 9rem;

                max-width: unset;
                margin: 0 auto;
                transform: translateX(-50%);

                margin-bottom: unset;

                @include breakpointMF(tablet) {
                    width: calc(100% - 12rem);
                    max-width: 156rem;
                    height: 12rem;
                    margin-inline: -6rem;
                    padding-inline: 6rem;
                }

                .mortgage-plans__navbar {
                    padding-inline: 2rem;

                    @include breakpointMF(tablet) {
                        padding-inline: 6rem;
                    }

                    .navbar__list {
                        background: var(--Light-Grey, #F5F5F5);
                    }
                }
            }
        }
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
