.modal-article {
    &.modal-article--first {
        @include breakpointMF(tablet) {
            position: relative;
            height: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        .modal-article__body {
            @include breakpointMF(tablet) {
                height: 100%;
                max-height: 100%;
                overflow: hidden;
            }
        }
    }

    &__body {
        &--col-end {
            @include breakpointMF(tablet) {
                display: flex;
                align-items: stretch;
                justify-content: flex-end;
            }
        }
    }

    &__column {
        @include breakpointMF(tablet) {
            padding-left: 1rem;
            flex: 0 0 50%;
            overflow: auto;

            @include noScrollbar();
        }
    }

    &__text {
        margin-bottom: 2.8rem;

        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @include breakpointMF(tablet) {
            margin-bottom: 4rem;
            padding-right: 11.5rem;

            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 1.675 / 1;
        margin-bottom: 2.8rem;


        @include breakpointMF(tablet) {
            position: absolute;
            top: 0;
            left: 0;

            width: calc(50% - 6rem);
            aspect-ratio: 1.47 / 1;
        }

        img {
            display: block;
            width: 100%;
            max-width: unset;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__information {
        display: grid;
        grid-template-columns: 100%;
        gap: 0.8rem;
        padding-bottom: 2rem;

        @include breakpointMF(tablet) {
            grid-template-columns: repeat(4, 1fr);
            gap: 2.4rem;
        }
    }

    &__information-card {
        overflow: hidden;
        aspect-ratio: 3.16 / 1;
        padding: 2rem;

        border: 1px solid var(--Pink, #FAE5E7);
        border-radius: 1.2rem;

        background-color: var(--White, #FFF);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpointMF(tablet) {
            aspect-ratio: 1.56 / 1;
            padding: 3.2rem;
            border-radius: 1.6rem;
        }

        &.modal-article__information-card--first {
            background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22335%22%20height%3D%22109%22%20viewBox%3D%220%200%20335%20109%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2963_206866)%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22287%22%20cy%3D%22103%22%20r%3D%2275%22%20fill%3D%22url(%23paint0_linear_2963_206866)%22%2F%3E%0A%3Cpath%20d%3D%22M271.424%2083.3084L285.195%2056.3574H288.824L275.053%2083.3084H271.424ZM266.572%2067.6383C265.248%2066.3164%20264.586%2064.7186%20264.586%2062.8449C264.586%2060.9712%20265.248%2059.3798%20266.572%2058.0707C267.909%2056.7488%20269.577%2056.0879%20271.577%2056.0879C273.576%2056.0879%20275.237%2056.7488%20276.562%2058.0707C277.899%2059.3798%20278.567%2060.9712%20278.567%2062.8449C278.567%2064.7186%20277.899%2066.3164%20276.562%2067.6383C275.237%2068.9474%20273.576%2069.6019%20271.577%2069.6019C269.577%2069.6019%20267.909%2068.9474%20266.572%2067.6383ZM268.979%2060.1883C268.304%2060.9455%20267.967%2061.831%20267.967%2062.8449C267.967%2063.8588%20268.304%2064.7443%20268.979%2065.5015C269.654%2066.2587%20270.52%2066.6373%20271.577%2066.6373C272.633%2066.6373%20273.499%2066.2587%20274.174%2065.5015C274.849%2064.7443%20275.186%2063.8588%20275.186%2062.8449C275.186%2061.831%20274.849%2060.9455%20274.174%2060.1883C273.499%2059.4311%20272.633%2059.0525%20271.577%2059.0525C270.52%2059.0525%20269.654%2059.4311%20268.979%2060.1883ZM283.667%2081.6144C282.343%2080.2925%20281.68%2078.6947%20281.68%2076.8209C281.68%2074.9472%20282.343%2073.3558%20283.667%2072.0467C285.004%2070.7249%20286.672%2070.0639%20288.671%2070.0639C290.67%2070.0639%20292.332%2070.7249%20293.656%2072.0467C294.993%2073.3558%20295.662%2074.9472%20295.662%2076.8209C295.662%2078.6947%20294.993%2080.2925%20293.656%2081.6144C292.332%2082.9234%20290.67%2083.5779%20288.671%2083.5779C286.672%2083.5779%20285.004%2082.9234%20283.667%2081.6144ZM286.073%2074.1643C285.399%2074.9215%20285.061%2075.8071%20285.061%2076.8209C285.061%2077.8348%20285.399%2078.7203%20286.073%2079.4775C286.748%2080.2347%20287.614%2080.6133%20288.671%2080.6133C289.728%2080.6133%20290.594%2080.2347%20291.269%2079.4775C291.944%2078.7203%20292.281%2077.8348%20292.281%2076.8209C292.281%2075.8071%20291.944%2074.9215%20291.269%2074.1643C290.594%2073.4071%20289.728%2073.0285%20288.671%2073.0285C287.614%2073.0285%20286.748%2073.4071%20286.073%2074.1643Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22334%22%20height%3D%22108%22%20rx%3D%2211.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2963_206866%22%20x1%3D%22251.016%22%20y1%3D%2238.7143%22%20x2%3D%22296.906%22%20y2%3D%22129.887%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2963_206866%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');

            @include breakpointMF(tablet) {
                background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22342%22%20height%3D%22220%22%20viewBox%3D%220%200%20342%20220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2957_179443)%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22273.5%22%20cy%3D%22219.5%22%20r%3D%22125.5%22%20fill%3D%22url(%23paint0_linear_2957_179443)%22%2F%3E%0A%3Cpath%20d%3D%22M247.442%20186.549L270.486%20141.451H276.558L253.514%20186.549H247.442ZM239.324%20160.328C237.108%20158.116%20236%20155.442%20236%20152.307C236%20149.171%20237.108%20146.508%20239.324%20144.318C241.561%20142.106%20244.352%20141%20247.698%20141C251.043%20141%20253.823%20142.106%20256.039%20144.318C258.277%20146.508%20259.395%20149.171%20259.395%20152.307C259.395%20155.442%20258.277%20158.116%20256.039%20160.328C253.823%20162.518%20251.043%20163.613%20247.698%20163.613C244.352%20163.613%20241.561%20162.518%20239.324%20160.328ZM243.351%20147.861C242.222%20149.128%20241.657%20150.61%20241.657%20152.307C241.657%20154.003%20242.222%20155.485%20243.351%20156.752C244.48%20158.019%20245.929%20158.653%20247.698%20158.653C249.466%20158.653%20250.915%20158.019%20252.044%20156.752C253.174%20155.485%20253.738%20154.003%20253.738%20152.307C253.738%20150.61%20253.174%20149.128%20252.044%20147.861C250.915%20146.594%20249.466%20145.961%20247.698%20145.961C245.929%20145.961%20244.48%20146.594%20243.351%20147.861ZM267.929%20183.714C265.713%20181.502%20264.605%20178.829%20264.605%20175.693C264.605%20172.558%20265.713%20169.895%20267.929%20167.704C270.166%20165.493%20272.957%20164.387%20276.302%20164.387C279.648%20164.387%20282.428%20165.493%20284.644%20167.704C286.881%20169.895%20288%20172.558%20288%20175.693C288%20178.829%20286.881%20181.502%20284.644%20183.714C282.428%20185.905%20279.648%20187%20276.302%20187C272.957%20187%20270.166%20185.905%20267.929%20183.714ZM271.956%20171.248C270.826%20172.515%20270.262%20173.997%20270.262%20175.693C270.262%20177.39%20270.826%20178.872%20271.956%20180.139C273.085%20181.406%20274.534%20182.039%20276.302%20182.039C278.071%20182.039%20279.52%20181.406%20280.649%20180.139C281.778%20178.872%20282.343%20177.39%20282.343%20175.693C282.343%20173.997%20281.778%20172.515%20280.649%20171.248C279.52%20169.981%20278.071%20169.347%20276.302%20169.347C274.534%20169.347%20273.085%20169.981%20271.956%20171.248Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22341%22%20height%3D%22219%22%20rx%3D%2215.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2957_179443%22%20x1%3D%22213.287%22%20y1%3D%22111.929%22%20x2%3D%22290.075%22%20y2%3D%22264.491%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2957_179443%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            }
        }

        &.modal-article__information-card--second {
           background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22335%22%20height%3D%22109%22%20viewBox%3D%220%200%20335%20109%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2963_206874)%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22287%22%20cy%3D%22103%22%20r%3D%2275%22%20fill%3D%22url(%23paint0_linear_2963_206874)%22%2F%3E%0A%3Cpath%20d%3D%22M272.871%2082.9173V56.084H279.969C283.267%2056.084%20285.709%2056.7479%20287.294%2058.0758C288.905%2059.4037%20289.711%2061.3329%20289.711%2063.8634C289.711%2065.5671%20289.321%2067.0328%20288.54%2068.2605C287.76%2069.4631%20286.602%2070.3901%20285.067%2071.0415C283.556%2071.6929%20281.681%2072.0186%20279.441%2072.0186H276.269V82.9173H272.871ZM269.586%2077.8062V75.3634H282.499V77.8062H269.586ZM269.586%2072.0186V69.1624H278.233V72.0186H269.586ZM278.95%2069.1624C280.485%2069.1624%20281.782%2068.9996%20282.839%2068.6739C283.921%2068.3481%20284.752%2067.8095%20285.331%2067.0578C285.91%2066.3062%20286.199%2065.279%20286.199%2063.9761C286.199%2062.2724%20285.671%2061.0072%20284.614%2060.1804C283.556%2059.3536%20281.908%2058.9402%20279.667%2058.9402H276.269V69.1624H278.95Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22334%22%20height%3D%22108%22%20rx%3D%2211.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2963_206874%22%20x1%3D%22251.016%22%20y1%3D%2238.7143%22%20x2%3D%22296.906%22%20y2%3D%22129.887%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2963_206874%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');

            @include breakpointMF(tablet) {
                background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22342%22%20height%3D%22220%22%20viewBox%3D%220%200%20342%20220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2963_180331)%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22273.5%22%20cy%3D%22219.5%22%20r%3D%22125.5%22%20fill%3D%22url(%23paint0_linear_2963_180331)%22%2F%3E%0A%3Cpath%20d%3D%22M250.631%20187V141H262.8C268.453%20141%20272.639%20142.138%20275.357%20144.415C278.119%20146.691%20279.5%20149.998%20279.5%20154.336C279.5%20157.257%20278.831%20159.769%20277.493%20161.874C276.156%20163.936%20274.171%20165.525%20271.538%20166.641C268.949%20167.758%20265.735%20168.317%20261.894%20168.317H256.457V187H250.631ZM245%20178.238V174.05H267.137V178.238H245ZM245%20168.317V163.42H259.823V168.317H245ZM261.053%20163.42C263.685%20163.42%20265.907%20163.141%20267.72%20162.583C269.575%20162.024%20270.999%20161.101%20271.992%20159.812C272.984%20158.524%20273.48%20156.763%20273.48%20154.529C273.48%20151.609%20272.574%20149.44%20270.762%20148.022C268.949%20146.605%20266.123%20145.896%20262.282%20145.896H256.457V163.42H261.053Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22341%22%20height%3D%22219%22%20rx%3D%2215.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2963_180331%22%20x1%3D%22213.287%22%20y1%3D%22111.929%22%20x2%3D%22290.075%22%20y2%3D%22264.491%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2963_180331%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            }
        }

        &.modal-article__information-card--third {
           background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22335%22%20height%3D%22109%22%20viewBox%3D%220%200%20335%20109%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2963_206882)%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22287%22%20cy%3D%22103%22%20r%3D%2275%22%20fill%3D%22url(%23paint0_linear_2963_206882)%22%2F%3E%0A%3Cpath%20d%3D%22M267.965%2057.0629C268.089%2056.7725%20268.295%2056.5248%20268.559%2056.3508C268.822%2056.1768%20269.131%2056.084%20269.446%2056.084H289.84C290.267%2056.084%20290.676%2056.2536%20290.978%2056.5555C291.28%2056.8575%20291.45%2057.267%20291.45%2057.694C291.45%2058.121%20291.28%2058.5305%20290.978%2058.8324C290.676%2059.1344%20290.267%2059.304%20289.84%2059.304H273.224L281.629%2068.0624C281.911%2068.3566%20282.071%2068.7469%20282.076%2069.1545C282.082%2069.5621%20281.933%2069.9566%20281.659%2070.2584L273.085%2079.6973H289.84C290.267%2079.6973%20290.676%2079.8669%20290.978%2080.1689C291.28%2080.4708%20291.45%2080.8803%20291.45%2081.3073C291.45%2081.7343%20291.28%2082.1438%20290.978%2082.4458C290.676%2082.7477%20290.267%2082.9173%20289.84%2082.9173H269.446C269.135%2082.9171%20268.83%2082.8265%20268.569%2082.6564C268.307%2082.4862%20268.101%2082.244%20267.975%2081.9589C267.849%2081.6739%20267.808%2081.3583%20267.858%2081.0506C267.908%2080.7429%20268.045%2080.4562%20268.255%2080.2254L278.265%2069.2066L268.283%2058.8081C268.065%2058.5803%20267.918%2058.2934%20267.862%2057.9832C267.805%2057.6729%20267.841%2057.3529%20267.965%2057.0629Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22334%22%20height%3D%22108%22%20rx%3D%2211.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2963_206882%22%20x1%3D%22251.016%22%20y1%3D%2238.7143%22%20x2%3D%22296.906%22%20y2%3D%22129.887%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2963_206882%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');

            @include breakpointMF(tablet) {
                background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22342%22%20height%3D%22220%22%20viewBox%3D%220%200%20342%20220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2963_180332)%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22273.5%22%20cy%3D%22219.5%22%20r%3D%22125.5%22%20fill%3D%22url(%23paint0_linear_2963_180332)%22%2F%3E%0A%3Cpath%20d%3D%22M242.222%20142.678C242.434%20142.18%20242.787%20141.756%20243.239%20141.457C243.69%20141.159%20244.22%20141%20244.761%20141H279.721C280.453%20141%20281.155%20141.291%20281.672%20141.808C282.19%20142.326%20282.481%20143.028%20282.481%20143.76C282.481%20144.492%20282.19%20145.194%20281.672%20145.712C281.155%20146.229%20280.453%20146.52%20279.721%20146.52H251.238L265.645%20161.534C266.128%20162.039%20266.402%20162.708%20266.412%20163.407C266.422%20164.105%20266.166%20164.782%20265.696%20165.299L250.998%20181.48H279.721C280.453%20181.48%20281.155%20181.771%20281.672%20182.288C282.19%20182.806%20282.481%20183.508%20282.481%20184.24C282.481%20184.972%20282.19%20185.674%20281.672%20186.192C281.155%20186.709%20280.453%20187%20279.721%20187H244.761C244.226%20187%20243.704%20186.844%20243.256%20186.553C242.808%20186.261%20242.455%20185.846%20242.238%20185.357C242.022%20184.868%20241.952%20184.327%20242.038%20183.8C242.123%20183.272%20242.359%20182.781%20242.718%20182.385L259.878%20163.496L242.766%20145.67C242.392%20145.279%20242.141%20144.788%20242.045%20144.256C241.948%20143.724%20242.009%20143.175%20242.222%20142.678Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22341%22%20height%3D%22219%22%20rx%3D%2215.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2963_180332%22%20x1%3D%22213.287%22%20y1%3D%22111.929%22%20x2%3D%22290.075%22%20y2%3D%22264.491%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2963_180332%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            }
        }

        &.modal-article__information-card--fourth {
           background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22335%22%20height%3D%22109%22%20viewBox%3D%220%200%20335%20109%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2963_206890)%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22287%22%20cy%3D%22103%22%20r%3D%2275%22%20fill%3D%22url(%23paint0_linear_2963_206890)%22%2F%3E%0A%3Cpath%20d%3D%22M272.708%2059.2076C272.415%2059.5007%20272.25%2059.8981%20272.25%2060.3125C272.25%2060.7269%20272.415%2061.1243%20272.708%2061.4174C273.001%2061.7104%20273.398%2061.875%20273.812%2061.875H292.188C292.602%2061.875%20292.999%2061.7104%20293.292%2061.4174C293.585%2061.1243%20293.75%2060.7269%20293.75%2060.3125C293.75%2059.8981%20293.585%2059.5007%20293.292%2059.2076C292.999%2058.9146%20292.602%2058.75%20292.188%2058.75H273.812C273.398%2058.75%20273.001%2058.9146%20272.708%2059.2076ZM274.458%2076.7076C274.165%2077.0007%20274%2077.3981%20274%2077.8125C274%2078.2269%20274.165%2078.6243%20274.458%2078.9174C274.751%2079.2104%20275.148%2079.375%20275.562%2079.375H292.188C292.602%2079.375%20292.999%2079.2104%20293.292%2078.9174C293.585%2078.6243%20293.75%2078.2269%20293.75%2077.8125C293.75%2077.3981%20293.585%2077.0007%20293.292%2076.7076C292.999%2076.4146%20292.602%2076.25%20292.188%2076.25H275.562C275.148%2076.25%20274.751%2076.4146%20274.458%2076.7076ZM266.812%2067.5C266.398%2067.5%20266.001%2067.6646%20265.708%2067.9576C265.415%2068.2507%20265.25%2068.6481%20265.25%2069.0625C265.25%2069.4769%20265.415%2069.8743%20265.708%2070.1674C266.001%2070.4604%20266.398%2070.625%20266.812%2070.625H292.188C292.602%2070.625%20292.999%2070.4604%20293.292%2070.1674C293.585%2069.8743%20293.75%2069.4769%20293.75%2069.0625C293.75%2068.6481%20293.585%2068.2507%20293.292%2067.9576C292.999%2067.6646%20292.602%2067.5%20292.188%2067.5H266.812Z%22%20fill%3D%22%23CF000C%22%20stroke%3D%22%23CF000C%22%20stroke-width%3D%220.5%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22334%22%20height%3D%22108%22%20rx%3D%2211.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2963_206890%22%20x1%3D%22251.016%22%20y1%3D%2238.7143%22%20x2%3D%22296.906%22%20y2%3D%22129.887%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2963_206890%22%3E%0A%3Crect%20width%3D%22335%22%20height%3D%22109%22%20rx%3D%2212%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');

            @include breakpointMF(tablet) {
                background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22342%22%20height%3D%22220%22%20viewBox%3D%220%200%20342%20220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2963_180333)%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3Ccircle%20cx%3D%22273.5%22%20cy%3D%22219.5%22%20r%3D%22125.5%22%20fill%3D%22url(%23paint0_linear_2963_180333)%22%2F%3E%0A%3Cpath%20d%3D%22M250.482%20146.482C250.013%20146.951%20249.75%20147.587%20249.75%20148.25C249.75%20148.913%20250.013%20149.549%20250.482%20150.018C250.951%20150.487%20251.587%20150.75%20252.25%20150.75H283.75C284.413%20150.75%20285.049%20150.487%20285.518%20150.018C285.987%20149.549%20286.25%20148.913%20286.25%20148.25C286.25%20147.587%20285.987%20146.951%20285.518%20146.482C285.049%20146.013%20284.413%20145.75%20283.75%20145.75H252.25C251.587%20145.75%20250.951%20146.013%20250.482%20146.482ZM253.482%20176.482C253.013%20176.951%20252.75%20177.587%20252.75%20178.25C252.75%20178.913%20253.013%20179.549%20253.482%20180.018C253.951%20180.487%20254.587%20180.75%20255.25%20180.75H283.75C284.413%20180.75%20285.049%20180.487%20285.518%20180.018C285.987%20179.549%20286.25%20178.913%20286.25%20178.25C286.25%20177.587%20285.987%20176.951%20285.518%20176.482C285.049%20176.013%20284.413%20175.75%20283.75%20175.75H255.25C254.587%20175.75%20253.951%20176.013%20253.482%20176.482ZM240.25%20160.75C239.587%20160.75%20238.951%20161.013%20238.482%20161.482C238.013%20161.951%20237.75%20162.587%20237.75%20163.25C237.75%20163.913%20238.013%20164.549%20238.482%20165.018C238.951%20165.487%20239.587%20165.75%20240.25%20165.75H283.75C284.413%20165.75%20285.049%20165.487%20285.518%20165.018C285.987%20164.549%20286.25%20163.913%20286.25%20163.25C286.25%20162.587%20285.987%20161.951%20285.518%20161.482C285.049%20161.013%20284.413%20160.75%20283.75%20160.75H240.25Z%22%20fill%3D%22%23CF000C%22%20stroke%3D%22%23CF000C%22%20stroke-width%3D%220.5%22%2F%3E%0A%3C%2Fg%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%22341%22%20height%3D%22219%22%20rx%3D%2215.5%22%20stroke%3D%22%23FAE5E7%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_2963_180333%22%20x1%3D%22213.287%22%20y1%3D%22111.929%22%20x2%3D%22290.075%22%20y2%3D%22264.491%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFECEC%22%2F%3E%0A%3Cstop%20offset%3D%220.743005%22%20stop-color%3D%22white%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_2963_180333%22%3E%0A%3Crect%20width%3D%22342%22%20height%3D%22220%22%20rx%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            }
        }
    }

    &__information-text {
        max-width: min-content;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @include breakpointMF(tablet) {
            font-size: 2rem;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.02em;
        }
    }

    &__steps-title {
        margin-bottom: 2rem;

        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.05em;

        @include breakpointMF(tablet) {
            margin-bottom: 4rem;

            font-size: 3.4rem;
            line-height: 100%;
            letter-spacing: -0.03em;
        }
    }

    &__steps {
        display: grid;
        grid-template-columns: 100%;
        gap: 0.8rem;
        max-width: 100%;

        @include breakpointMF(tablet) {
            grid-template-columns: repeat(5, 1fr);
            gap: 2.4rem;
        }
    }

    &__step {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        aspect-ratio: 2.46 / 1;
        padding: 2rem;

        color: var(--White, #FFF);
        background-color: var(--Blue, #212173);
        border-radius: 1.2rem;

        @include breakpointMF(tablet) {
            justify-content: unset;
            aspect-ratio: 1.34 / 1;
            padding: 2.4rem;
            border-radius: 1.6rem;
        }
    }

    &__step-number {
        display: block;
        margin-bottom: 2.9rem;

        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.05em;
        opacity: 0.15;

        @include breakpointMF(tablet) {
            font-size: 5.4rem;
            letter-spacing: -0.02em;
        }
    }

    &__step-text {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @include breakpointMF(tablet) {
            width: min-content;
            font-weight: 500;
            line-height: 130%;
        }
    }
}
