.mortgage-plans {
    &.section--round-border {
        position: relative;
        z-index: 500;

        @include breakpointMF(tablet) {
            padding: 6rem 0;
        }
    }

    &.section--white {
        background-color: var(--Light-Grey, #F5F5F5);
    }

    &__navigation {
        margin-bottom: 2rem;

        @include breakpointMF(tablet) {
            margin-bottom: 3.2rem;
        }
    }

    &__navbar {
        &.navbar {
            width: 100%;

            @include breakpointMF(tablet) {
                width: max-content;
            }

            .navbar__list {
                width: max-content;
                background: var(--White, #FFF);

                @include breakpointMF(tablet) {
                    width: unset;
                }
            }

            .navbar__item {
                flex-grow: 1;

                @include breakpointMF(tablet) {
                    flex: 0 1 max-content;
                }
            }

            .navbar__button {
                width: 100%;

                @include breakpointMF(tablet) {
                    min-width: 13rem;
                }
            }
        }
    }
}
