.mortgage-callback {
    &__body {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        overflow: hidden;
        padding: 2.8rem 2rem;

        color: var(--White, #FFF);

        background-color: var(--Blue, #212173);
        @extend ._border-20;

        @include breakpointMF(tablet) {
            flex-direction: row;
            justify-content: space-between;
            padding: 6rem 6rem 13.4rem;
        }

        &::before {
            position: absolute;
            left: 50%;
            bottom: 0;

            width: 110%;
            aspect-ratio: 12 / 1;
            transform: translate(-49%, 30%);

            background-image: url('data:image/svg+xml, %3Csvg%20width%3D%221725%22%20height%3D%22144%22%20viewBox%3D%220%200%201725%20144%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20opacity%3D%220.06%22%20clip-path%3D%22url(%23clip0_2233_69241)%22%3E%0A%3Cpath%20d%3D%22M11.0594%2029.5503H34.7965L40.0565%202.39062H77.1458L71.8859%2029.5503H92.6559L97.781%202.39062H134.87L129.61%2029.5503H148.088L147.278%2058.8612H123.811L118.821%2084.4074H137.703L136.893%20113.853H113.021L107.761%20141.281H70.672L75.932%20113.853H55.162L49.902%20141.281H13.0824L18.3424%20113.853H0L0.809222%2084.4074H24.0069L28.9971%2058.8612H10.385L11.1942%2029.5503H11.0594ZM61.0962%2084.5419H81.8663L86.8565%2058.9957H66.0864L61.0962%2084.5419Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M356.586%202.39062L369.668%2058.1889L405.948%202.39062H445.33L356.181%20141.281H316.664L344.178%2098.2562L317.069%202.39062H356.586Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M457.341%202.39062H511.559C542.175%202.39062%20556.336%2012.878%20556.336%2031.5671C556.336%2048.3738%20546.76%2063.2982%20531.655%2068.5419C544.063%2072.1721%20551.346%2081.4495%20551.346%2093.8192C551.346%2095.9705%20551.211%2098.1217%20550.806%20100.407C546.086%20124.878%20527.878%20141.55%20487.687%20141.55H430.367L457.341%202.39062ZM512.503%2094.4915C512.503%2087.4999%20507.378%2084.8108%20496.319%2084.8108H479.73L474.605%20111.567H491.194C503.737%20111.567%20510.076%20108.071%20512.099%2098.1217C512.233%2096.9116%20512.503%2095.7016%20512.503%2094.4915ZM518.303%2040.71C518.303%2034.3906%20513.447%2032.3738%20503.737%2032.3738H489.98L485.394%2056.0377H499.151C510.48%2056.0377%20516.145%2052.8108%20517.898%2044.0713C518.033%2042.8612%20518.303%2041.6511%20518.303%2040.71Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M676.117%202.39062L694.999%20141.416H653.998L651.57%20118.424H605.175L594.251%20141.416H553.25L626.35%202.39062H676.117ZM620.55%2086.6931H648.873L644.287%2037.8864L620.55%2086.6931Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M773.223%2096.5083H759.736L751.104%20141.416H712.531L739.64%202.39062H791.835C822.046%202.39062%20841.602%2014.0881%20841.602%2038.5587C841.602%2041.92%20841.198%2045.5503%20840.388%2049.4494C834.184%2081.1805%20807.885%2096.5083%20773.223%2096.5083ZM801.95%2044.4747C801.95%2035.7352%20795.611%2032.1049%20784.552%2032.1049H772.279L765.67%2066.6595H778.078C791.026%2066.6595%20798.983%2061.6847%20801.411%2049.315C801.815%2047.5671%20801.95%2045.9536%20801.95%2044.3402%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M1035.14%2033.7184H996.562L1002.63%202.39062H1118.62L1112.42%2033.7184H1073.84L1052.8%20141.281H1014.23L1035.14%2033.7184Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M1169.72%2096.5083H1156.24L1147.6%20141.416H1109.03L1136.14%202.39062H1188.33C1218.55%202.39062%201238.1%2014.0881%201238.1%2038.5587C1238.1%2041.92%201237.7%2045.5503%201236.89%2049.4494C1230.68%2081.1805%201204.38%2096.5083%201169.72%2096.5083ZM1198.45%2044.4747C1198.45%2035.7352%201192.11%2032.1049%201181.05%2032.1049H1168.78L1162.17%2066.6595H1174.58C1187.53%2066.6595%201195.48%2061.6847%201197.91%2049.315C1198.32%2047.5671%201198.45%2045.9536%201198.45%2044.3402%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M1244.57%2090.084C1244.57%2037.916%201281.66%200%201328.32%200C1364.2%200%201383.89%2021.2437%201383.89%2054.0504C1383.89%20106.084%201346.67%20143.731%201300.27%20143.731C1264.67%20143.731%201244.71%20122.622%201244.71%2090.084M1344.51%2058.7563C1344.51%2041.8151%201336.42%2031.7311%201322.26%2031.7311C1302.7%2031.7311%201284.49%2052.9748%201284.49%2085.3782C1284.49%20102.05%201292.45%20112%201306.61%20112C1325.76%20112%201344.64%2091.1597%201344.64%2058.7563%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M1417.49%202.39062H1455.12L1440.42%2077.9537L1499.76%202.39062H1537.66L1510.55%20141.281H1472.92L1487.62%2065.4494L1428.28%20141.281H1390.38L1417.49%202.39062Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M1587.57%2033.7184H1548.99L1555.2%202.39062H1671.05L1664.85%2033.7184H1626.27L1605.37%20141.281H1566.66L1587.57%2033.7184Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M933.982%200C963.384%200%20992.246%2015.7311%20990.358%2053.5126H956.101C954.078%2037.5126%20942.749%2033.3445%20927.509%2033.3445C903.636%2033.3445%20888.531%2053.3782%20884.08%2075.563C880.304%2095.7311%20892.712%20110.521%20912.808%20110.521C928.183%20110.521%20941.535%20103.395%20948.279%2088.0672H983.884C970.802%20128.269%20936.545%20144.134%20906.469%20144.134C870.189%20144.134%20838.764%20119.529%20847.396%2071.5294C857.241%2022.3193%20896.084%200.134454%20933.847%200.134454%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M257.078%200C286.48%200%20315.342%2015.7311%20313.454%2053.5126H279.197C277.174%2037.5126%20265.845%2033.3445%20250.604%2033.3445C226.732%2033.3445%20211.627%2053.3782%20207.176%2075.563C203.4%2095.7311%20215.808%20110.521%20235.904%20110.521C251.279%20110.521%20264.631%20103.395%20271.374%2088.0672H306.98C293.898%20128.269%20259.641%20144.134%20229.43%20144.134C193.15%20144.134%20161.725%20119.529%20170.357%2071.5294C180.202%2022.3193%20219.045%200.134454%20256.808%200.134454%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M1693.65%20143.17C1706.81%20143.17%201717.47%20132.558%201717.47%20119.468C1717.47%20106.378%201706.81%2095.7656%201693.65%2095.7656C1680.49%2095.7656%201669.83%20106.378%201669.83%20119.468C1669.83%20132.558%201680.49%20143.17%201693.65%20143.17Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_2233_69241%22%3E%0A%3Crect%20width%3D%221725%22%20height%3D%22144%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            pointer-events: none;
            content: "";

            @include breakpointMF(tablet) {
                transform: translate(-49%, 40%);
            }
        }
    }

    &__heading {
        margin-bottom: 2.8rem;

        @include breakpointMF(tablet) {
            flex: 0 0 42rem;
            margin-right: 15rem;
            margin-bottom: unset;
        }
    }

    &__title {
        color: var(--Light-Blue, #A5D9FF);
        margin-bottom: 2rem;

        @include breakpointMF(tablet) {
            margin-bottom: 1.6rem;
        }

        &.mortgage-callback__title--h4-text {
            @include breakpoint(small-tablet) {
                text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                font-size: 3rem;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -0.03em;
            }
        }
    }

    &__text {
        margin-bottom: 4rem;

        &.mortgage-callback__text--text-22 {
            @include breakpoint(small-tablet) {
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
        }
    }

    &__button.main-btn {
        width: 100%;

        @include breakpointMF(tablet) {
            width: 24rem;
        }
    }

    &__profile {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 2rem;

        @include breakpointMF(tablet) {
            flex-direction: row;
            column-gap: 5.4rem;
            padding-bottom: unset;
        }
    }

    &__image {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        aspect-ratio: 1.475 / 1;
        margin-bottom: 2.8rem;

        border-radius: 0.8rem;

        @include breakpointMF(tablet) {
            aspect-ratio: 1.56 / 1;
            max-width: 37.1rem;
            margin-bottom: unset;

            border-radius: 2rem;
        }

        img {
            display: block;
            width: 100%;
            max-width: unset;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__about {
        @include breakpointMF(tablet) {
            flex: 0 0 34rem;
        }
    }

    &__about-top {
        margin-bottom: 3.2rem;
    }

    &__name  {
        margin-bottom: 0.8rem;

        &.mortgage-callback__name--text-24 {
            @include breakpoint(small-tablet) {
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -0.02em;
            }
        }
    }

    &__role {
        opacity: 0.6;
    }

    &__about-center {
        margin-bottom: 4rem;
        line-height: 150%;

        @include breakpoint(small-tablet) {
            line-height: 120%;
        }
    }

    &__about-bottom  {
        color: var(--Light-Blue, #A5D9FF);

        @include breakpointMF(tablet) {
            margin-top: auto;
            margin-bottom: 3.7rem;
        }

        &.mortgage-callback__about-bottom--h6-text {
            @include breakpoint(small-tablet) {
                font-size: 2rem;
                line-height: 100%;
                letter-spacing: -0.04em;
            }
        }
    }
}
