.mortgage-intro {
    position: relative;

    height: 100vh;
    height: 100dvh;

    @include breakpointMF(tablet) {
        height: auto;
    }

    &__body {
        display: flex;
        align-items: stretch;

        height: 100%;

        @include breakpointMF(tablet) {
            height: auto;
        }
    }

    &__left {
        padding-top: 8rem;

        @include breakpointMF(tablet) {
            flex: 0 0 calc(100% - 67rem);
            padding: 13.6rem 0 17.1rem;
        }
    }

    &__top {
        @include breakpointMF(tablet) {
            margin-bottom: 14.3rem;
        }
    }

    &__title {
        margin-bottom: 2.4rem;

        @include breakpointMF(tablet) {
            margin-bottom: 4rem;
        }
    }

    &__span {
        &:last-child {
            color: var(--White-50, rgba(255, 255, 255, 0.50));
        }

        &.mortgage-intro__span--text-h2 {
            @include breakpoint(small-tablet) {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -0.05em;
            }
        }
    }

    &__text {
        opacity: 0.8;

        @include breakpointMF(tablet) {
            max-width: 64rem;
            line-height: 125%;
        }

        &.mortgage-intro__text--text-22 {
            @include breakpoint(small-tablet) {
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }

            @include breakpoint(small-mobile) {
                max-width: 39ch;
            }
        }
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 90;

        display: flex;
        align-items: center;
        gap: 0.8rem;

        padding: 1.6rem 2rem 3rem;
        background-color: var(--Blue, #212173);


        @include breakpointMF(tablet) {
            position: static;
            gap: 1.6rem;
            padding: unset;

            background-color: transparent;
        }
    }

    &__link {
        &:first-child{
            &.main-btn {
                width: calc(50% - 0.4rem);

                @include breakpointMF(tablet) {
                    width: 24.6rem;
                }
            }
        }
        &:last-child{
            &.main-btn {
                width: calc(50% - 0.4rem);

                @include breakpointMF(tablet) {
                    width: 25rem;
                }
            }
        }
    }

    &__image {
        position: absolute;
        right: 0;
        bottom: 0;

        height: 50%;
        width: 100%;

        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        pointer-events: none;

        @include breakpointMF(tablet) {
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            right: unset;
        }
    }

    &__picture {
        position: relative;
        width: 80%;
        height: 100%;

        @include breakpointMF(tablet) {
            width: 64rem;
        }

        &::before {
            position: absolute;
            bottom: -46%;
            left: -23%;
            display: block;
            flex-shrink: 0;

            width: 160%;
            aspect-ratio: 1;

            background: linear-gradient(199deg, #FFF 12.67%, rgba(255, 255, 255, 0.00) 58.54%);
            border-radius: 100%;
            opacity: 0.1;

            content: "";


            @include breakpointMF(small-mobile) {
                bottom: -38%;
            }


            @include breakpointMF(mobile) {
                bottom: -58%;
            }


            @include breakpointMF(tablet) {
                top: 22%;
                left: -28%;
                bottom: unset;

                width: 102.1rem;
                height: 102.1rem;
            }
        }

        img {
            position: absolute;
            right: 0;
            bottom: 0;

            display: block;
            width: 100%;
            max-width: unset;
            object-fit: contain;
            object-position: center bottom;
        }
    }
}
