.mortgage-plan {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
        height: 100%;
        padding: 2rem;

        background: var(--White, #FFF);
        @extend ._border-20;

        @include breakpointMF(tablet) {
            flex-direction: row;
            column-gap: unset;
            justify-content: space-between;
            padding: 4rem;
        }
    }

    &__info,
    &__image {
        width: 100%;

        @include breakpointMF(tablet) {
            flex: 0 0 50%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 2.8rem;
        margin-bottom: 2rem;

        @include breakpointMF(tablet) {
            margin-bottom: unset;
            gap: unset;
        }
    }

    &__name {
        margin-bottom: 1.6rem;
        color: var(--Blue, #212173);

        @include breakpointMF(tablet) {
            width: 15ch;
            margin-bottom: 2rem;
        }
    }

    &__desc {
        opacity: 0.7;

        @include breakpointMF(tablet) {
            max-width: 35ch;
        }

        &.mortgage-plan__desc--text-18 {
            @include breakpoint(small-tablet) {
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }

    &__info-top {

        @include breakpointMF(tablet) {
            margin-bottom: 3rem;
        }
    }

    &__info-center {
        padding-top: 2.8rem;
        border-top: 1px solid var(--Black-10, rgba(2, 2, 2, 0.10));

        @include breakpointMF(tablet) {
            max-width: max-content;
            margin-top: auto;
            padding-top: 3rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        gap: 2rem;

        @include breakpointMF(tablet) {
            flex-wrap: nowrap;
            justify-content: unset;
            gap: unset;
            column-gap: 6rem;

            padding-right: 2.2rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        max-width: calc(100% / 2 - 1rem);
        min-width: 15ch;

        @include breakpointMF(tablet) {
            max-width: auto;
            min-width: unset;
        }
    }

    &__key {
        display: block;
        width: min-content;
        margin-bottom: 1.2rem;
        opacity: 0.6;

        @include breakpointMF(tablet) {
            margin-bottom: 1.8rem;
        }
    }

    &__value {
        display: inline-flex;
        align-items: flex-end;
        column-gap: 0.5ch;

        @include breakpointMF(tablet) {
            align-items: center;
        }
    }

    &__value-prefix {
        letter-spacing: -0.02em;
    }

    &__value-number {
        @include breakpointMF(tablet) {
            padding-bottom: 0.8rem;
        }
    }

    &__info-bottom {
        @include breakpointMF(tablet) {
            margin-top: 6rem;
        }
    }

    &__btn {
        &.main-btn {
            width: 100%;

            @include breakpointMF(tablet) {
                width: 23rem;
            }
        }
    }

    &__image {
        position: relative;
        overflow: hidden;
        aspect-ratio: 1.475 / 1;
        @extend ._border-16;

        @include breakpointMF(tablet) {
            aspect-ratio: 1.5 / 1;
            flex: 0 0 calc(50% - 1.2rem);
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
            content: "";
        }

        img {
            display: block;
            width: 100%;
            max-width: unset;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
