.mortgage-calc {
    &.section {
        @include breakpointMF(tablet) {
            padding: 6rem 0;
        }
    }

    &__list-wrapper {
        position: relative;
    }

    &__scroll-list {
        @include breakpointMF(tablet) {
            height: 74.5rem;
            overflow: auto;
            padding-right: 1.2rem;

            &::-webkit-scrollbar {
                background-color: white;
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--Black-10);
                width: 4px;
            }

            &::-webkit-scrollbar-button {
                display: none;
            }

            &::-webkit-scrollbar-track {
                background-color: white;
            }
        }
    }

    &__header {
        position: absolute;
        left: 0;
        bottom: calc(100% + 2rem);

        width: 100%;
        padding: 0 4rem;
    }

    &__item {
        margin-bottom: 1.6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 3rem;

        border: 1px solid transparent;
        transition: border 0.3s ease-out;

        & > span {
            opacity: 0.5;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }

        & > p {
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }

        &--border {
            position: relative;

            background: var(--White-White, #FFF);
            @extend ._border-16;

            @include breakpointMF(tablet) {
                padding: 2.7rem 4rem;
            }

            label {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 200;

                cursor: pointer;
            }
        }
    }

    &__col-first {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 2rem;

        flex: 0 0 30.4rem;
        margin-right: 1rem;

        @include breakpointMF(tablet) {
            column-gap: 2rem;

            flex: 0 0 30.4rem;
            margin-right: 1rem;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-shrink: 0;
        width: 5.4rem;
        height: 5.4rem;

        overflow: hidden;
        border-radius: 100%;

        img {
            display: block;
            width: 100%;
            max-width: unset;
            min-height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__col-month,
    &__col-payment,
    &__col-term,
    &__col-rate {

        @include breakpointMF(tablet) {
            flex-grow: 1;
            min-width: 13rem;
        }
    }

    &__radio {
        &:checked {
            & + .mortgage-calc__label {
                border-color: var(--Red, #CF000C);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 7rem;
        padding: 2.5rem;
        text-align: center;

        background-color: rgba(2, 2, 2, 0.05);
        border-radius: 12px;

        @include font(1.6rem, 100%, 500);
        @extend ._border-12;

        @include breakpointMF(tablet) {
            height: 7rem;
            padding: 2.5rem;

            color: var(--Black, #020202);

            @include font(1.6rem, 100%, 500);
        }
    }
}
