.popover {
    &:not(:has(.map-popup)) {
        position: absolute;
        z-index: 1010;
        overflow: hidden;
        padding: 3rem 3rem 1rem 3rem;

        color: var(--Black, #020202);
        background-color: var(--White, #fff);
        border-radius: 2rem;

        text-align: left;
        white-space: normal;

        @extend ._border-20;

        .arrow,
        .close {
            display: none;
        }
    }
}


.popover-column {
    position: relative;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 42px;
}

.popover-title {
    width: 100%;
    margin-bottom: 2rem;
}

.popover-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.4rem;

    li {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

.popover-item {
    max-width: 32ch;
}

.popover-icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;
    width: 60px;
    height: 60px;

    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    border: 1px solid var(--Black-10, rgba(2, 2, 2, 0.10));
    border-radius: 100%;

    &.pin {
        background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M8.5%201C6.95068%201.00165%205.46532%201.58164%204.36979%202.61273C3.27425%203.64381%202.65801%205.04178%202.65625%206.49995C2.65625%2011.2062%207.96875%2014.7605%208.1952%2014.9093C8.28452%2014.9681%208.39094%2014.9997%208.5%2014.9997C8.60906%2014.9997%208.71548%2014.9681%208.8048%2014.9093C9.03125%2014.7605%2014.3438%2011.2062%2014.3438%206.49995C14.342%205.04178%2013.7257%203.64381%2012.6302%202.61273C11.5347%201.58164%2010.0493%201.00165%208.5%201ZM8.5%204.49997C8.92029%204.49997%209.33113%204.61727%209.68059%204.83703C10.03%205.05679%2010.3024%205.36914%2010.4632%205.73459C10.6241%206.10004%2010.6662%206.50217%2010.5842%206.89013C10.5022%207.27809%2010.2998%207.63445%2010.0026%207.91415C9.70541%208.19385%209.32678%208.38433%208.91457%208.4615C8.50236%208.53867%208.07509%208.49907%207.6868%208.34769C7.2985%208.19632%206.96663%207.93998%206.73313%207.61108C6.49963%207.28219%206.375%206.89551%206.375%206.49995C6.375%205.96952%206.59888%205.46082%206.9974%205.08575C7.39591%204.71068%207.93641%204.49997%208.5%204.49997Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fsvg%3E");
    }

    &.phone {
        background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.7945%2018.4442C12.5945%2018.4001%209.19364%2017.9301%205.63197%2014.3692C2.07114%2010.8076%201.60197%207.40756%201.55697%206.20672C1.49031%204.37672%202.89197%202.59922%204.51114%201.90506C4.70612%201.82086%204.91964%201.78881%205.13075%201.81204C5.34186%201.83527%205.5433%201.91298%205.71531%202.03756C7.04864%203.00922%207.96864%204.47922%208.75864%205.63506C8.93246%205.889%209.00678%206.19801%208.96744%206.50322C8.92809%206.80843%208.77784%207.0885%208.54531%207.29006L6.91947%208.49756C6.84092%208.55428%206.78563%208.63758%206.76387%208.73199C6.74211%208.8264%206.75535%208.92551%206.80114%209.01089C7.16947%209.68006%207.82447%2010.6767%208.57447%2011.4267C9.32531%2012.1767%2010.3686%2012.8751%2011.0845%2013.2851C11.1742%2013.3354%2011.2799%2013.3495%2011.3797%2013.3244C11.4795%2013.2993%2011.5659%2013.2369%2011.6211%2013.1501L12.6795%2011.5392C12.874%2011.2808%2013.1611%2011.1076%2013.4805%2011.056C13.7998%2011.0045%2014.1268%2011.0785%2014.3928%2011.2626C15.5653%2012.0742%2016.9336%2012.9784%2017.9353%2014.2609C18.07%2014.4341%2018.1557%2014.6404%2018.1834%2014.8581C18.2111%2015.0758%2018.1798%2015.2969%2018.0928%2015.4984C17.3953%2017.1259%2015.6303%2018.5117%2013.7945%2018.4442Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fsvg%3E");
    }

    &.email {
        background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M3.33854%2016.6693C2.88021%2016.6693%202.48799%2016.5062%202.16188%2016.1801C1.83576%2015.854%201.67243%2015.4615%201.67188%2015.0026V5.0026C1.67188%204.54427%201.83521%204.15205%202.16188%203.82594C2.48854%203.49983%202.88076%203.33649%203.33854%203.33594H16.6719C17.1302%203.33594%2017.5227%203.49927%2017.8494%203.82594C18.176%204.1526%2018.3391%204.54483%2018.3385%205.0026V15.0026C18.3385%2015.4609%2018.1755%2015.8534%2017.8494%2016.1801C17.5233%2016.5068%2017.1308%2016.6698%2016.6719%2016.6693H3.33854ZM10.0052%2010.8359L16.6719%206.66927V5.0026L10.0052%209.16927L3.33854%205.0026V6.66927L10.0052%2010.8359Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fsvg%3E");
    }

    &.time {
        background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M14.1719%202.78064C15.4288%203.50635%2016.4743%204.54774%2017.2051%205.80172C17.9358%207.0557%2018.3263%208.47878%2018.3381%209.93009C18.3498%2011.3814%2017.9823%2012.8106%2017.2719%2014.0762C16.5615%2015.3418%2015.5329%2016.4%2014.2879%2017.1459C13.0429%2017.8918%2011.6247%2018.2997%2010.1736%2018.329C8.72257%2018.3584%207.289%2018.0083%206.01484%2017.3133C4.74067%2016.6184%203.6701%2015.6027%202.9091%2014.3669C2.14809%2013.1311%201.72305%2011.7179%201.67604%2010.2673L1.67188%209.99731L1.67604%209.72731C1.72271%208.28813%202.1415%206.88561%202.89157%205.65647C3.64165%204.42733%204.69742%203.41352%205.95595%202.71387C7.21448%202.01423%208.63283%201.65264%2010.0727%201.66434C11.5126%201.67604%2012.9249%202.06064%2014.1719%202.78064ZM10.0052%204.99731C9.8011%204.99733%209.60409%205.07227%209.45156%205.2079C9.29904%205.34353%209.20159%205.53043%209.17771%205.73314L9.17188%205.83064V9.99731L9.17938%2010.1065C9.19838%2010.2511%209.25498%2010.3881%209.34354%2010.504L9.41604%2010.5873L11.916%2013.0873L11.9944%2013.1556C12.1405%2013.269%2012.3202%2013.3306%2012.5052%2013.3306C12.6902%2013.3306%2012.8699%2013.269%2013.016%2013.1556L13.0944%2013.0865L13.1635%2013.0081C13.2769%2012.862%2013.3385%2012.6823%2013.3385%2012.4973C13.3385%2012.3123%2013.2769%2012.1326%2013.1635%2011.9865L13.0944%2011.9081L10.8385%209.65147V5.83064L10.8327%205.73314C10.8088%205.53043%2010.7114%205.34353%2010.5589%205.2079C10.4063%205.07227%2010.2093%204.99733%2010.0052%204.99731Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fsvg%3E");
    }
}
