.programs {
    &__body {
        display: grid;
        grid-template-columns: 100%;
        align-items: stretch;
        gap: 2rem;

        @include breakpointMF(tablet) {
            grid-template-columns: repeat(3, 1fr);
            gap: calc(var(--gap) * 6);
            padding-top: 1rem;
        }
    }

    &__form-calc {
        @include breakpointMF(tablet) {
            padding-right: 1.6rem;
        }
    }

    &__list-wrapper {
        @include breakpointMF(tablet) {
            grid-column: span 2;
        }

        @include breakpoint(small-tablet) {
            position: relative;
            z-index: 1;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            list-style: none;
            padding: 0;
            display: block;
        }
    }

    &__list {
        @include breakpoint(small-tablet) {
            position: relative;
            z-index: 1;

            display: flex;
            align-items: stretch;

            width: 100%;

            transition-property: transform;
            transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
            box-sizing: content-box;
        }
    }

    &__item {
        margin-bottom: 1.2rem;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(4) {
            margin-bottom: 2rem;

            @include breakpoint(small-tablet) {
                margin-bottom: 0;
            }
        }

        @include breakpointMF(tablet) {
            margin-bottom: 1.6rem;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(4) {
                margin-bottom: 0;
            }
        }

        @include breakpoint(small-tablet) {
            position: relative;
            height: auto;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            box-sizing: border-box;
            transition-property: transform;
            margin-bottom: 0;
        }
    }

    &__link {
        width: 100%;

        @include breakpoint(small-tablet) {
            margin-top: 2rem;
        }
    }
}

.program {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.8rem;

    width: 100%;
    padding: 2.8rem 2rem;

    color: var(--White, #fff);
    background: rgba(255, 255, 255, 0.03);

    @extend ._border-16;

    @include breakpointMF(tablet) {
        flex-direction: row;
        align-items: center;
        gap: 4.8rem;
        padding: 4.6rem 4rem;
    }

    &__image-block {
        display: flex;
        align-items: center;
        gap: calc(var(--gap) * 4);
        flex-grow: 1;
        flex-shrink: 0;

        @include breakpointMF(tablet) {
            gap: calc(var(--gap) * 8);
        }
    }

    &__name {
        width: min-content;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 5rem;
        height: 5rem;

        border-radius: 100%;
        border: 1px solid var(--White-20, rgba(255, 255, 255, 0.20));

        @include breakpointMF(tablet) {
            width: 6rem;
            height: 6rem;
        }

        .icon {
            width: 2rem;
            height: 2rem;

            @include breakpointMF(tablet) {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    &__advantages {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 1.6rem;

        @include breakpointMF(tablet) {
            flex-flow: row nowrap;
            justify-content: unset;
            gap: 6rem;
        }
    }

    &__advantage {
        display: flex;
        flex-direction: column;
        gap: calc(var(--gap) * 4);
        width: calc(50% - 0.8rem);

        @include breakpointMF(tablet) {
            gap: calc(var(--gap) * 2);
            width: min-content;
        }

        &--single {
            .program__text {
                opacity: 1;
            }
        }

        &--row {
            margin-left: auto;

            @include breakpointMF(tablet) {
                flex-direction: row;
                gap: calc(var(--gap) * 4);
                margin-right: 1.2rem;
                margin-left: unset;
            }
        }
    }

    &__numbers {
        display: inline-block;
    }

    &__text {
        width: min-content;
        min-width: 12ch;
        opacity: 0.6;

        @include breakpointMF(tablet) {
            width: auto;
        }

        &.program__text {
            @include breakpoint(small-tablet) {
                @include font(1.2rem, 120%, 400);
            }
        }
    }

    &--space-between {
        .program__advantages {
            @include breakpointMF(tablet) {
                flex-grow: 1;
                justify-content: space-between;
            }
        }
    }
}
