.project-card {
    display: block;
    @extend ._border-20;
    background-color: #FFFDFB;

    &__image {
        position: relative;

        width: 100%;
        max-height: 52rem;
        overflow: hidden;
        aspect-ratio: 0.97 / 1;
        margin-bottom: 2rem;

        background-color: var(--Black-10, rgba(2, 2, 2, 0.1));
        @extend ._border-20;

        @include breakpointMF(tablet) {
            margin-bottom: 2.4rem;
            @extend ._border-20;
        }

        @include breakpoint(small-tablet) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__swiper {
        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;

            background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
            content: "";
        }
        &.swiper {
            height: 100%;

            .swiper-pagination {

                &.swiper-pagination-bullets-dynamic {
                    .swiper-pagination-bullet {
                        &.swiper-pagination-bullet-active-prev,
                        &.swiper-pagination-bullet-active-next {
                            transform: scale(.8);
                        }
                    }
                }

                @include breakpointMF(tablet) {
                    opacity: 0;
                    transition: opacity 0.3s ease-out;
                }
            }
        }
    }

    &__tabs {
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
        z-index: 20;

        display: flex;
        align-items: center;
        gap: var(--gap);
        flex-wrap: wrap;
        max-width: 100%;

        pointer-events: none;
    }

    &__info {
        padding-bottom: 1.8rem;

        @include breakpointMF(tablet) {
            padding-bottom: 2rem;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.6rem;
        margin-bottom: 1.2rem;

        @include breakpointMF(tablet) {
            margin-bottom: 1.6rem;
        }
    }

    &__price {
        color: #181823;
        flex-shrink: 0;
        letter-spacing: -0.056em;
        @include font(1.4rem, 100%, 500);

        @include breakpointMF(tablet) {

            @include font(2rem, 120%, 500);
        }
    }

    &__address {
        position: relative;
        padding-left: 2rem;

        color: var(--Black-60, rgba(2, 2, 2, 0.6));

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 10;
            transform: translateY(-50%);

            width: 1.6rem;
            height: 1.6rem;

            background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M8.5%201C6.95068%201.00165%205.46532%201.58164%204.36979%202.61273C3.27425%203.64381%202.65801%205.04178%202.65625%206.49995C2.65625%2011.2062%207.96875%2014.7605%208.1952%2014.9093C8.28452%2014.9681%208.39094%2014.9997%208.5%2014.9997C8.60906%2014.9997%208.71548%2014.9681%208.8048%2014.9093C9.03125%2014.7605%2014.3438%2011.2062%2014.3438%206.49995C14.342%205.04178%2013.7257%203.64381%2012.6302%202.61273C11.5347%201.58164%2010.0493%201.00165%208.5%201ZM8.5%204.49997C8.92029%204.49997%209.33113%204.61727%209.68059%204.83703C10.03%205.05679%2010.3024%205.36914%2010.4632%205.73459C10.6241%206.10004%2010.6662%206.50217%2010.5842%206.89013C10.5022%207.27809%2010.2998%207.63445%2010.0026%207.91415C9.70541%208.19385%209.32678%208.38433%208.91457%208.4615C8.50236%208.53867%208.07509%208.49907%207.6868%208.34769C7.2985%208.19632%206.96663%207.93998%206.73313%207.61108C6.49963%207.28219%206.375%206.89551%206.375%206.49995C6.375%205.96952%206.59888%205.46082%206.9974%205.08575C7.39591%204.71068%207.93641%204.49997%208.5%204.49997Z%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fsvg%3E");

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            content: "";
        }

        &.map-button__address {
            &::before {
                background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M8%201C6.54182%201.00165%205.14383%201.58165%204.11274%202.61274C3.08165%203.64383%202.50165%205.04182%202.5%206.5C2.5%2011.2062%207.5%2014.7606%207.71313%2014.9094C7.7972%2014.9683%207.89735%2014.9999%208%2014.9999C8.10265%2014.9999%208.2028%2014.9683%208.28687%2014.9094C8.5%2014.7606%2013.5%2011.2062%2013.5%206.5C13.4983%205.04182%2012.9184%203.64383%2011.8873%202.61274C10.8562%201.58165%209.45818%201.00165%208%201ZM8%204.5C8.39556%204.5%208.78224%204.6173%209.11114%204.83706C9.44004%205.05682%209.69638%205.36918%209.84776%205.73463C9.99913%206.10008%2010.0387%206.50222%209.96157%206.89018C9.8844%207.27814%209.69392%207.63451%209.41421%207.91421C9.13451%208.19392%208.77814%208.3844%208.39018%208.46157C8.00222%208.53874%207.60009%208.49913%207.23463%208.34776C6.86918%208.19638%206.55682%207.94004%206.33706%207.61114C6.1173%207.28224%206%206.89556%206%206.5C6%205.96957%206.21071%205.46086%206.58579%205.08579C6.96086%204.71071%207.46957%204.5%208%204.5Z%22%20fill%3D%22%23AEAEAE%22%2F%3E%0A%3C%2Fsvg%3E");
            }
        }

        &.home-slider__address {
            color: var(--White, #FFF);
        }
    }

    &__transparent-thumbs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;

        width: 100%;
        height: 100%;

        @include breakpoint(small-tablet) {
            @include visuallyHidden();
        }
    }

    @include hoverActive() {
        .project-card__swiper {
            .swiper-pagination {
                opacity: 1;
            }
        }
    }
}
