.radios {
    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.4rem;

        @include breakpointMF(tablet) {
            gap: 0.6rem;
            flex-wrap: nowrap;
        }
    }

    &__item {
        cursor: pointer;

        input {
            @include visuallyHidden();
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            width: 5.4rem;
            height: 5rem;
            padding: calc(var(--gap) * 8);

            background-color: var(--Light-Grey, #F5F5F5);
            border-radius: 0.8rem;

            color: var(--Black, #020202);
            leading-trim: both;
            text-edge: cap;
            font-feature-settings: 'clig' off, 'liga' off;

            @include breakpointMF(tablet) {
                padding: calc(var(--gap) * 6);

                width: 6rem;
                height: 6rem;
            }
        }

        &--wider {
            flex-grow: 1;

            @include breakpointMF(tablet) {
                flex-grow: unset;
            }

            span {
                width: auto;
            }
        }
    }
}

.radios__item-input:checked ~ .radios__item-text {
    background-color: var(--Pink, #FAE5E7);
    color: var(--Red, #CF000C);
}
