.radio-article {
    position: relative;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
        padding: 2rem;

        background-color: var(--White, #FFF);
        border-radius: 1.2rem;
        border: 1px solid rgba(2, 2, 2, 0.10);

        transition-property: background, border;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;

        @include breakpointMF(tablet) {
            gap: 4rem;
            padding: 2.4rem;
        }
    }

    &__haeding {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title{
        margin-bottom: 1.6rem;
        padding-right: 2.4rem;
        color: var(--Black, #020202);
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.02em;

        @include breakpointMF(tablet) {
            font-size: 2.2rem;
        }
    }

    &__desc {
        color: var(--Black-50, rgba(2, 2, 2, 0.5));
    }

    &__checkbox {
        position: absolute;
        top: 2rem;
        right: 2rem;

        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;

        border-radius: 100%;
        border: 1px solid var(--Red-20, rgba(207, 0, 12, 0.20));

        transition: 0.3s ease-out;
        transition-property: background, border;

        @include breakpointMF(tablet) {
            top: 2.4rem;
            right: 2.4rem;
        }
    }

    &__info {
        display: none;
        align-items: stretch;
        flex-direction: column-reverse;
        gap: 2rem;

        @include breakpointMF(tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__link {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 5rem;

        color: var(--Red-Red, #CF000C);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 100%;

        border: 1px solid rgba(207, 0, 12, 0.20);
        border-radius: 0.8rem;

        transition-property: background, color, border;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;

        @include hoverActive() {
            color: #FFECEC;
            background-color: var(--Red, #CF000C);
            border-color: transparent;
        }

        @include breakpointMF(tablet) {
            width: 18rem;
            line-height: 130%;
        }
    }

    &__variants {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.8rem;

        @include breakpointMF(tablet) {
            flex-direction: column;
            justify-content: unset;
            align-items: flex-end;
        }
    }

    &__price {
        color: var(--Black, #020202);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.02em;

        @include breakpointMF(tablet) {
            font-size: 2rem;
        }
    }

    &__text {
        color: var(--Black, #020202);
        font-size: 1.4rem;
        line-height: 120%;
        opacity: 0.5;

        @include breakpointMF(tablet) {
            line-height: 130%;
        }
    }

    &__label {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        cursor: pointer;
    }

    & > input[type="radio"] {
        @include visuallyHidden();

        &:checked {
            & + .radio-article__label {
                display: none;
            }

            & ~ .radio-article__checkbox {
                background-image: url("data:image/svg+xml, %3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2223%22%20height%3D%2223%22%20rx%3D%2211.5%22%20stroke%3D%22%23CF000C%22%20stroke-opacity%3D%220.2%22%2F%3E%0A%3Crect%20x%3D%225%22%20y%3D%225%22%20width%3D%2214%22%20height%3D%2214%22%20rx%3D%227%22%20fill%3D%22%23CF000C%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: none;
            }

            & ~ .radio-article__body {
                border-color: var(--Red-15, rgba(207, 0, 12, 0.15));
                background-color: var(--Red-05, rgba(207, 0, 12, 0.05));

                .radio-article__info {
                    display: flex;
                }
            }
        }
    }
}
