.similar {
    &__swiper.swiper {
        margin-right: -2rem;
        padding-right: 2rem;

        @include breakpointMF(tablet) {
            margin: 0;
            padding: 0;
        }
    }

    &__swiper-slide {
        .searched-card {
            .searched-card__variant--row {
                display: none;
            }

            .searched-card__variant--tile {
                display: flex;
            }
        }
    }

    &__buttons {
        @include breakpoint(small-tablet) {
            @include visuallyHidden();
        }
    }
}
