.tour-gallery {
    --padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    height: 100%;

    background-color: lightgray;

    @include breakpointMF(tablet) {
        --padding: 3rem;
    }

    &:not(.tour-gallery--fullscreen) {
        .tour-gallery__close {
            display: none;
        }
    }

    &.tour-gallery--fullscreen {
        --padding: 6rem;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3000;

        .tour-gallery__expand {
            display: none;
        }
    }

    &__links,
    &__navbar,
    &__expand,
    &__close  {
        position: absolute;
        top: var(--padding);
        z-index: 500;
    }

    &__expand,
    &__close  {
        right: var(--padding);
    }

    &__links,
    &__navbar {
        left: 50%;
        transform: translateX(-50%);
    }

    &__navbar {
        padding: 0 var(--padding);

        @include breakpointMF(tablet) {
            padding: unset;
        }
    }

    &__links {
        top: unset;
        bottom: var(--padding);
        width: calc(100% - 4rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;

        @include breakpointMF(tablet) {
            width: unset;
            flex-direction: row;
        }
    }

    &__link {
        flex: 1 1 100%;

        @include breakpointMF(tablet) {
            flex: 1 1 23rem;
        }

        &.main-btn {
            min-width: 100%;

            @include breakpointMF(tablet) {
                min-width: 23rem;
            }
        }
    }

    &__swiper.swiper {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__swiper-wrapper.swiper-wrapper {
        overflow: auto;

        @include breakpointMF(tablet) {
            overflow: unset;
        }
    }

    &__swiper-slide.swiper-slide {
        height: 74.3rem;
        aspect-ratio: 2 / 1;
        width: auto;

        img {
            @include centeredAbsolute();
            z-index: 200;

            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        @include breakpointMF(tablet) {
            width: 100%;
            height: 100%;
            aspect-ratio: unset;
        }
    }

    &__point {
        position: absolute;
        z-index: 400;
    }
}
