.transparent-thumbs {
    &.swiper {
        height: 100%;
    }

    &__swiper-wrapper {
        &.swiper-wrapper {
            width: 100%;
            align-items: stretch;

            .swiper-slide {
                height: 100%;
                flex-grow: 1;
                opacity: 0;
            }
        }
    }
}
