.video-block {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    @extend ._border-20;


    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__poster {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__picture {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 6;
            background-color: rgba(0, 0, 0, 0.20);
            content: "";
        }

        img {
            display: block;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 0.3s ease-out;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);

        display: block;
        width: 6rem;
        height: 6rem;

        background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2299%22%20height%3D%2299%22%20rx%3D%2249.5%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.3%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M57.334%2049.332L46.6673%2057.332L46.6673%2041.332L57.334%2049.332Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        border-radius: 100%;

        cursor: pointer;

        @include hoverActive()  {
            background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20width%3D%22100%22%20height%3D%22100%22%20rx%3D%2250%22%20fill%3D%22white%22%20fill-opacity%3D%220.3%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M57.334%2049.332L46.6673%2057.332L46.6673%2041.332L57.334%2049.332Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");

            & ~ .article-video__picture {
                img {
                    transform: scale(1.05);
                }
            }
        }

        @include breakpointMF(tablet) {
            width: 10rem;
            height: 10rem;
        }
    }

    &--is-play {
        .video-block__poster {
            display: none;
        }
    }
}
